/*
Theme Name:     Jupiter Child Theme
Theme URI: 		http://demos.artbees.net/jupiter5
Description:    Child theme for the Jupiter theme
Author:         Your name here
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Text Domain: mk_framework
Domain Path: /languages/
*/
.sticky-style-fixed.header-style-1 .mk-header-holder,
.sticky-style-fixed.header-style-3 .mk-header-holder {
  -webkit-transform: none;
  /* Safari and Chrome */
  -moz-transform: none;
  /* Firefox */
  -ms-transform: none;
  /* IE 9 */
  -o-transform: none;
  /* Opera */
  transform: none;
}

.mk-responsive-wrap {
  overflow: auto;
  position: fixed;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 9999;
}

.mk-responsive-nav > li:last-child {
  display: none;
}

.mk-responsive-nav > li a {
  color: #9a9a9a !important;
  text-transform: none;
}

.mk-responsive-nav > li a:hover {
  color: #fff !important;
}

.mk-responsive-wrap #mk-nav-close {
  top: 20px;
  position: absolute;
  right: 27px;
  cursor: pointer;
}

.mk-responsive-wrap #mk-nav-close .mk-css-icon-menu-line-1 {
  transition: all 0.45s ease;
}

.mk-responsive-wrap .mk-responsive-content {
  padding: 70px 0;
  overflow: hidden;
}

.mk-responsive-content .mk-cta {
  text-align: center;
  padding: 0 0 15px 0;
}

.mk-responsive-content .mk-button {
  background: #009be2;
  border-radius: 3px;
  margin: 0 auto;
  min-width: 220px;
}

.mk-responsive-content .mk-button span.mk-button--text {
  font-size: 14px;
}

.mk-responsive-content .responsive-searchform {
  margin: 10px 0;
  padding: 0;
}
.mk-responsive-content .responsive-searchform i {
  right: 25px;
}
.mk-responsive-content .responsive-searchform i svg {
  fill: #9e9e9e !important;
}
.mk-responsive-content .responsive-searchform i:hover svg {
  fill: #fff !important;
}
.mk-responsive-content .responsive-searchform input {
  padding: 10px 35px;
  border-left: none;
  border-right: none;
  border-color: #9e9e9e;
}
.mk-responsive-content .mk-nav-arrow {
  top: 12px;
}
@media only screen and (max-width: 1140px) {
  .mk-responsive-content .mk-nav-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 5em;
    width: 100%;
    z-index: 11;
  }
  .mk-responsive-content .mk-nav-arrow svg {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
  }
}

.mk-box-icon-2.box-align-center .mk-box-icon-2-icon,
.mk-box-icon-2.box-align-center .mk-box-icon-2-image {
  margin-bottom: 22px;
}

.mk-box-icon-2 .mk-box-icon-2-title {
  margin-bottom: 22px;
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper {
  text-align: left;
}
.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper p {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
}

@media only screen and (max-width: 1140px) {
  .main-nav-side-search {
    display: none;
  }

  #mk-theme-container .mk-toolbar-navigation ul li:last-child > a {
    border-right: 0 !important;
  }
}
/* Global Typography Styles */
h1, .big-title {
  color: #fff;
  font-family: Lato;
  font-size: 64px !important;
  font-style: italic;
  font-weight: 900 !important;
  line-height: 68px;
  text-align: center;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 768px) {
  h1, .big-title {
    font-size: 54px;
    line-height: 58px;
  }
}
h1 a, .big-title a {
  color: #fff;
}

h2 {
  color: #0E254C;
  font-family: Lato;
  font-size: 36px !important;
  font-style: italic;
  font-weight: 900 !important;
  line-height: 44px;
}

h3 {
  color: #0E2B55;
  font-family: Montserrat;
  font-size: 16.76px !important;
  font-weight: bold !important;
  letter-spacing: 3px;
  line-height: 20px;
}

h4, .block-text h4 {
  margin-bottom: 15px;
  color: #333 !important;
  font-family: Lato;
  font-size: 24px;
  font-weight: normal !important;
  line-height: 29px;
}

p {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.54;
  color: #000;
}

.intro,
.intro-mid {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  opacity: 1;
  color: #1A3B64;
}
@media only screen and (min-width: 480px) {
  .intro,
  .intro-mid {
    font-size: 24px;
    line-height: 34px;
  }
}

.block-text p {
  color: #333 !important;
  font-size: 14px;
  line-height: 30px;
  opacity: 1;
}

.vc_col-sm-6 .mk-text-block {
  padding-bottom: 25px;
}
.vc_col-sm-6 .mk-text-block p {
  color: #000;
  font-size: 18px;
  line-height: 32px;
  opacity: 0.54;
}
.vc_col-sm-6 .mk-text-block.darker-p p {
  color: #0F2144;
  opacity: 1;
}

.vc_col-sm-9 .mk-text-block p {
  color: #000;
  font-size: 18px;
  line-height: 36px;
}

span.mk-button--text {
  font-size: 18px;
  line-height: 22px;
}

.mk-button {
  border-radius: 3px;
  border-width: 2px;
}
.mk-button:hover span.mk-button--text {
  color: #fff;
}

/*General*/
/*Newsroom*/
#page-top-title {
  letter-spacing: 4px;
  font-weight: 400 !important;
}

.vc_gitem-post-data {
  margin-bottom: 0;
}

.events .vc_gitem_row .vc_gitem-col {
  padding: 0;
}

.vc_gitem-post-data-source-post_excerpt p {
  opacity: 0.75;
}

.vc_gitem-align-center {
  padding: 15px 0;
}

.read-more,
.news-date {
  background: #fff;
}

.read-more p, .read-more a,
.reach-out p {
  opacity: 1;
}

.read-more a {
  text-decoration: underline;
}

.feature-block p {
  font-size: 20px !important;
  font-weight: bold;
  line-height: 40px !important;
}

.feature-block .mk-text-block {
  padding-top: 5px;
}

.vc_gitem-post-data-source-post_title {
  padding: 0 30px;
}

/*Company*/
#team #box-5 ul {
  text-align: center !important;
}

#team #box-5.three-column ul li.a_colitem {
  float: none !important;
  width: 32.33%;
}

/*Test*/
.safe-testimonial .mk-testimonial.avantgarde-style .mk-testimonial-image {
  position: absolute;
  top: -110px;
  left: 35vw;
}

.safe-testimonial .mk-testimonial.avantgarde-style .mk-testimonial-image img {
  border: 5px solid #fff;
}

/*
  Testimonial Styles
*/
.wpb_single_image .vc_box_border_circle.vc_box_border_white {
  position: relative;
  z-index: 1;
}

.testimonial-item {
  text-align: center;
}
.testimonial-item .mk-testimonial-content > p {
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: bold;
  line-height: 36px !important;
  color: #fff;
  opacity: 1;
}
@media only screen and (min-width: 480px) {
  .testimonial-item .mk-testimonial-content > p {
    font-size: 24px !important;
    line-height: 42px !important;
  }
}
.testimonial-item .mk-testimonial-author,
.testimonial-item .mk-testimonial-company {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.48);
}

.mk-testimonial.avantgarde-style .mk-testimonial-company {
  font-style: normal;
}

/*Footer*/
#mk-footer .widget {
  margin-bottom: 20px;
}
#mk-footer .widget br {
  display: none;
}

@media only screen and (min-width: 768px) {
  #mk-footer .widget_text:last-child {
    max-width: 250px;
  }
}
#mk-footer .widget-sub-navigation ul li a,
#mk-footer .widget_nav_menu ul li a {
  font-weight: bold;
  line-height: 22px;
}

/* Global Header Styles */
.mk-header {
  position: absolute !important;
}

.mk-css-icon-close div, .mk-css-icon-menu div {
  background-color: #ffffff !important;
}

#mk-footer .widget_nav_menu li a .mk-svg-icon {
  display: none;
}

#mk-footer .widget_nav_menu ul li a {
  padding: 5px 15px 5px 0px !important;
}

.widget_nav_menu ul li.current_page_item a {
  background-color: transparent !important;
}

.mk-header-toolbar {
  margin: 0 0 30px;
}
.mk-header-toolbar .mk-toolbar-holder {
  float: right;
}
.mk-header-toolbar .main-nav-side-search {
  margin: -8px 0 0 0 !important;
}

@media handheld, only screen and (min-width: 420px) and (max-width: 768px) {
  .mk-testimonial.avantgarde-style.light-version .flex-direction-nav .flex-prev {
    left: 25% !important;
  }
  .mk-testimonial.avantgarde-style.light-version .flex-direction-nav .flex-next {
    right: 25% !important;
  }
}
.mk-testimonial.avantgarde-style.light-version .flex-direction-nav a {
  opacity: 0.2;
}
.mk-testimonial.avantgarde-style.light-version .flex-direction-nav svg {
  height: 22px !important;
}

.our-story {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 30px 50px 3px rgba(232, 234, 237, 0.75);
  -moz-box-shadow: 0px 30px 50px 3px rgba(232, 234, 237, 0.75);
  box-shadow: 0px 30px 50px 3px rgba(232, 234, 237, 0.75);
}

.mk-toolbar-navigation ul li a {
  border-right: 1px solid white !important;
}

/* Main Nav styles */
.main-navigation-ul > li.menu-item > a.menu-item-link {
  padding-top: 0;
}

.main-navigation-ul > li.menu-item ul.sub-menu:after {
  display: none;
}

.main-navigation-ul li.no-mega-menu ul.sub-menu {
  padding: 0;
}

.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link {
  border-left: 4px solid transparent;
  padding: 25px 35px 25px 29px;
}

/* Sticky Header */
header.a-sticky .mk-header-holder {
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.sticky-style-fixed.header-style-1.a-sticky .mk-header-holder, .sticky-style-fixed.header-style-3.a-sticky .mk-header-holder {
  top: 0;
}

header.a-sticky .mk-header-toolbar {
  display: none;
}

header.a-sticky .main-navigation-ul > li.menu-item > a.menu-item-link {
  color: #1A3B64 !important;
}

header.a-sticky #menu-main-menu > li:last-child a.menu-item-link {
  color: #ffffff !important;
}

#menu-main-menu > li:last-child:hover,
header.a-sticky #menu-main-menu li.dropdownOpen > a,
header.a-sticky #menu-main-menu > li:last-child a.menu-item-link:hover,
header.a-sticky .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
  color: #fff;
  background-color: #192028;
}

#menu-main-menu li.dropdownOpen > a:after {
  display: block;
  position: absolute;
  border-color: #192028 transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  content: " ";
  width: 0;
  margin-left: -10px;
  left: 50%;
  bottom: 0;
}

.mk-header-inner .main-nav-side-search {
  display: none;
}

/*Sub-Menu*/
.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a:hover,
.main-navigation-ul ul.sub-menu li.current-menu-item a,
.mk-responsive-nav li a:hover,
.mk-responsive-nav > li.current-menu-item a {
  border-left: 4px solid #009be2;
}

#menu-main-menu > li:last-child {
  border-radius: 3px;
  background-color: #009BE2;
}

.mk-header.a-sticky #menu-main-menu > li:last-child {
  border-radius: 0;
}

.mk-col-1-3 input[name="email"] {
  padding: 14px 22px;
  color: #B0B0B0;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  margin: 0;
}

.mk-col-1-3 input[type="submit"] {
  border: 1px solid #E1E1E1;
  border-radius: 0 3px 3px 0;
  padding: 21px 28px;
  background-color: #F5F5F5;
  color: #30476B;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

#bg-mobile-hidden-none {
  padding-top: 50px;
  background-position: 50% 100px !important;
}
@media only screen and (min-width: 768px) {
  #bg-mobile-hidden-none {
    padding-bottom: 450px;
  }
  #bg-mobile-hidden-none .mk-button-container {
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  #bg-mobile-hidden-none {
    background-size: cover !important;
  }
}
#bg-mobile-hidden-none h2 {
  font-weight: 900;
}

@media only screen and (max-width: 479px) {
  #mk-footer .mk-col-1-3,
  #mk-footer .mk-col-1-3 .align-left {
    text-align: center;
  }
}
#mk-footer .mk-col-2-3 .widgettitle {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 17px;
}

@media only screen and (min-width: 1024px) {
  #mk-footer .mk-col-2-3 .widgettitle {
    font-family: Montserrat;
    font-weight: bold;
  }
}
#mk-footer .mk-col-2-3 .widget {
  margin-bottom: 0;
}

#mk-footer .mk-col-2-3 {
  display: flex;
}

@media only screen and (max-width: 480px) {
  #mk-footer .mk-col-2-3 {
    flex-wrap: wrap;
  }
}
#mk-footer .mk-col-2-3 > div {
  flex-grow: 1;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #mk-footer .mk-col-2-3 > div {
    width: 49% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #mk-footer #social-2 {
    white-space: nowrap;
  }
}
#mk-footer .footer-text {
  margin: 0;
  color: #AFAFAF;
  font-size: 14px;
  line-height: 24px;
  opacity: 1;
}

#sub-footer {
  display: none;
}

.responsive-searchform {
  position: relative;
}
.responsive-searchform > i {
  position: absolute;
  float: right;
  top: 5px;
}
.responsive-searchform .search-result-item {
  margin-top: 0;
}
.responsive-searchform .search-result-item .the-title {
  font-size: 16px;
}
.responsive-searchform .search-result-item .search-loop-meta {
  font-size: 13px;
  color: #fff;
}
.responsive-searchform .search-result-item .the-excerpt p {
  font-size: 12px;
  color: #fff;
}
.responsive-searchform .mk-pagination-inner,
.responsive-searchform .mk-total-pages {
  display: none;
}
.responsive-searchform .mk-search-results-container {
  max-height: 25vh;
}

.mk-search-results-container {
  padding: 0 1em;
  max-height: 60vh;
  overflow-y: hidden;
}
.mk-search-results-container:not(.empty):hover {
  overflow-y: scroll;
}
.mk-search-results-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.mk-search-results-container::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
}
.mk-search-results-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(11, 12, 13, 0.91);
}
.mk-search-results-container .mk-no-results {
  color: #fff;
  margin-top: 1em;
}
.mk-search-results-container .the-title a {
  color: #fff;
}
.mk-search-results-container .search-loop-meta a {
  color: #009be2;
  color: #29cdff;
}
.mk-search-results-container .mk-search-type {
  color: rgba(255, 255, 255, 0.6);
  font-family: Lato;
  font-size: 12px;
  font-weight: 900;
  line-height: 15px;
  text-transform: uppercase;
}
.mk-search-results-container .mk-pagination .mk-total-pages,
.mk-search-results-container .mk-pagination .current-page {
  opacity: 1;
  color: #fff;
}
.mk-search-results-container .mk-pagination a {
  color: #009be2;
  color: #29cdff;
}
.mk-search-results-container .mk-pagination-previous,
.mk-search-results-container .mk-pagination-next {
  color: #fff;
  border-color: #fff;
}
.mk-search-results-container .mk-pagination-previous:hover,
.mk-search-results-container .mk-pagination-next:hover {
  color: #009be2;
  border-color: #009be2;
}

.mk-fullscreen-search-wrapper .mk-search-results-container {
  padding: 0;
}

.mk-fullscreen-search-wrapper .search-result-item {
  border-width: 0;
  padding: 0;
}
.mk-fullscreen-search-wrapper .search-result-item h4 {
  margin-bottom: 12px;
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show {
  background-color: rgba(0, 0, 0, 0.85);
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform + p {
  margin-bottom: 0;
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
  border-bottom: 3px solid #fff;
  margin-bottom: 15px;
  padding-left: 0;
  width: 100%;
  text-align: left;
  font-size: 86px;
  font-weight: 900;
}

/* Hero block styles */
.home .master-holder-bg-holder + .mk-main-wrapper-holder {
  background-color: #60bde7;
}

.page-id-484 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-83 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-249 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-144 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-149 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-588 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-224 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-720 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-58 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-261 .master-holder-bg-holder + .mk-main-wrapper-holder,
.page-id-67 .master-holder-bg-holder + .mk-main-wrapper-holder {
  background-color: #0d2c54;
}

.page-id-261 .vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section,
.page-id-67 .vc_section.vc_section-has-fill {
  padding-top: 0;
}

.vc_section.vc_row-o-full-height,
.hero-wrapper {
  padding: 112px 0 !important;
}
@media only screen and (min-width: 480px) {
  .vc_section.vc_row-o-full-height,
  .hero-wrapper {
    padding: 126px 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .vc_section.vc_row-o-full-height,
  .hero-wrapper {
    padding: 240px 0 170px !important;
  }
}
.vc_section.vc_row-o-full-height h1,
.hero-wrapper h1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}
@media only screen and (max-width: 479px) {
  .vc_section.vc_row-o-full-height h1,
  .hero-wrapper h1 {
    font-size: 34px !important;
    line-height: 34px;
  }
}
@media only screen and (max-width: 768px) {
  .vc_section.vc_row-o-full-height h1,
  .hero-wrapper h1 {
    max-width: 640px;
  }
}
.vc_section.vc_row-o-full-height h1 a:hover, .vc_section.vc_row-o-full-height h2 a:hover, .vc_section.vc_row-o-full-height h3 a:hover,
.hero-wrapper h1 a:hover,
.hero-wrapper h2 a:hover,
.hero-wrapper h3 a:hover {
  opacity: 1;
  cursor: text;
}
.vc_section.vc_row-o-full-height .mk-button,
.hero-wrapper .mk-button {
  white-space: nowrap;
}
.vc_section.vc_row-o-full-height .mk-button:hover,
.hero-wrapper .mk-button:hover {
  background-color: #3baee2;
}
.vc_section.vc_row-o-full-height .intro,
.vc_section.vc_row-o-full-height .intro-mid,
.hero-wrapper .intro,
.hero-wrapper .intro-mid {
  color: #FFFFFF;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .page-id-178 .hero-wrapper {
    padding: 320px 0 260px !important;
  }
}
.hero-wrapper .wpb_column {
  position: static;
  margin: 0 auto;
  max-width: 1140px;
  float: none;
}

.hero-wrapper h2,
.hero-wrapper h3,
.intro-short {
  text-align: left;
  max-width: 768px;
}

.intro-short p {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.hero-text {
  z-index: 5;
}

#mk-page-id-484 .mk-text-block {
  margin: 0 auto;
  max-width: 820px;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}
@media only screen and (max-width: 479px) {
  #mk-page-id-484 .mk-text-block {
    max-width: 270px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #mk-page-id-484 .mk-text-block {
    max-width: 490px;
    font-size: 22px;
    line-height: 34px;
  }
}

.blue-overlay > .vc_row,
.grey-overlay > .vc_row {
  position: relative;
  z-index: 2;
}

.overlay-blue:after,
.blue-overlay:after,
.grey-overlay:after,
.page-id-720 .hero-wrapper:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto !important;
  content: " " !important;
  background: linear-gradient(130.89deg, rgba(0, 155, 226, 0.64) 0%, rgba(13, 44, 84, 0.7) 100%);
  visibility: visible !important;
  z-index: 0;
}

.full-layout > div > .grey-overlay:after {
  background: linear-gradient(135deg, rgba(14, 43, 85, 0.44) 0%, rgba(14, 42, 84, 0.85) 100%);
}

#solution-tab {
  /*Horizontal tabs*/
}
@media only screen and (min-width: 480px) {
  #solution-tab .vc_tta.vc_tta-shape-square .vc_tta-tabs-container {
    border-bottom: 1px solid #ccc;
    background-color: #f7faff;
  }
}
#solution-tab .vc_tta-tabs-container.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 1140px) {
  #solution-tab .vc_tta-tabs-container.fixed-header {
    top: 65px;
  }
}
#solution-tab .vc_tta.vc_general {
  /*
  @media only screen and (min-width: 768px) {
    .vc_tta-panels-container {
      position: static;
    }
  }
  */
}
@media only screen and (max-width: 479px) {
  #solution-tab .vc_tta.vc_general .vc_tta-tab {
    border-bottom: 1px solid #ccc;
  }
  #solution-tab .vc_tta.vc_general .vc_tta-tab.vc_active {
    border-color: transparent;
  }
  #solution-tab .vc_tta.vc_general .vc_tta-tab.vc_active > a:before,
  #solution-tab .vc_tta.vc_general .vc_tta-tab.vc_active > a:after {
    display: none;
  }
  #solution-tab .vc_tta.vc_general .vc_tta-tab > a {
    padding: 10px;
  }
}
@media only screen and (min-width: 480px) {
  #solution-tab .vc_tta.vc_general .vc_tta-tab.vc_active > a {
    border-bottom: 5px solid #009be2;
    color: #009be2;
  }
}
#solution-tab .vc_tta.vc_general .vc_tta-panels {
  background-image: url(/wp-content/themes/jupiter-child/images/desk_illustration.svg);
  background-size: 1280px;
  background-position-x: center;
  background-position-y: -10px;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panels {
    position: static;
    padding-top: 220px;
  }
  #solution-tab .vc_tta.vc_general .vc_tta-panels:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 100px;
    width: 310px;
    height: 295px;
    content: '';
    background-image: url(/wp-content/themes/jupiter-child/images/desk_illustration_paper.svg);
    z-index: 1;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1440px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panels:before {
    margin-top: -100px;
    width: 420px;
    height: 405px;
  }
}

@media only screen and (min-width: 1280px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panels {
    background-size: 1440px;
  }
}
@media only screen and (min-width: 1440px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panels {
    background-size: 1800px;
  }
}
#solution-tab .vc_tta.vc_general .vc_tta-title-text {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (max-width: 360px) {
  #solution-tab .vc_tta.vc_general .vc_tta-title-text {
    font-size: 8px;
  }
}
@media only screen and (min-width: 640px) {
  #solution-tab .vc_tta.vc_general .vc_tta-title-text {
    font-size: 16px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 769px) {
  #solution-tab .vc_tta.vc_general .vc_tta-title-text {
    font-size: 22px;
    line-height: 29px;
  }
}
#solution-tab .vc_tta.vc_general .vc_tta-panel-heading {
  display: none;
}
#solution-tab .vc_tta.vc_general .vc_tta-panel-body {
  background-color: #fff !important;
  margin-top: -1px;
  border: solid #ccc;
  border-width: 1px 0;
  padding: 50px 0;
}
@media only screen and (max-width: 479px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panel-body {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panel-body {
    max-width: 990px;
    margin: 0 auto;
    padding: 100px 0;
    overflow: visible;
    transform: none;
  }
}
@media only screen and (min-width: 980px) {
  #solution-tab .vc_tta.vc_general .vc_tta-panel-body {
    max-width: 900px;
    border: 1px solid #ccc;
  }
}
@media only screen and (min-width: 768px) {
  #solution-tab .vc_inner {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  #solution-tab .vc_inner .wpb_column:first-child {
    display: none;
  }
  #solution-tab .vc_inner .wpb_column:last-child {
    width: 100%;
  }
}
#solution-tab .wpb_column:last-child h2 {
  color: #1485E0 !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: bold !important;
  line-height: 32px;
}
#solution-tab .wpb_column:last-child h3, #solution-tab .wpb_column:last-child h4, #solution-tab .wpb_column:last-child h5 {
  color: #1485E0 !important;
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: bold !important;
  letter-spacing: 2px;
  line-height: 17px;
  text-transform: uppercase;
}
#solution-tab .wpb_column:last-child h4 {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1485E0;
}
#solution-tab .wpb_column:last-child h5 span {
  color: #1485E0 !important;
}
#solution-tab .wpb_column:last-child p {
  color: #707070;
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 32px;
  opacity: 1;
}
#solution-tab .tilt-image {
  transform: rotate(-15deg);
}
#solution-tab img.tab-image {
  display: block;
  margin: 0 auto 10px;
  height: 48px;
  width: max-content;
}
#solution-tab .tab-bg {
  display: block;
  margin: 0 auto 10px;
  height: 50px;
  width: 50px;
  background: #666;
}
#solution-tab .tab-enterprise {
  -webkit-mask: url("/wp-content/uploads/2017/06/enterprise.svg") no-repeat 50% 100%;
  mask: url("/wp-content/uploads/2017/06/enterprise.svg") no-repeat 50% 100%;
}
#solution-tab .tab-portfolio {
  -webkit-mask: url("/wp-content/uploads/2017/06/portfolio.svg") no-repeat 50% 100%;
  mask: url("/wp-content/uploads/2017/06/portfolio.svg") no-repeat 50% 100%;
}
#solution-tab .tab-solution {
  -webkit-mask: url("/wp-content/uploads/2017/06/solution.svg") no-repeat 50% 100%;
  mask: url("/wp-content/uploads/2017/06/solution.svg") no-repeat 50% 100%;
}
#solution-tab .tab-program {
  -webkit-mask: url("/wp-content/uploads/2017/06/program.svg") no-repeat 50% 100%;
  mask: url("/wp-content/uploads/2017/06/program.svg") no-repeat 50% 100%;
}
#solution-tab .tab-team {
  -webkit-mask: url("/wp-content/uploads/2017/06/team.svg") no-repeat 50% 100%;
  mask: url("/wp-content/uploads/2017/06/team.svg") no-repeat 50% 100%;
}
#solution-tab .vc_tta-tab.vc_active .tab-bg {
  background: #009be2;
}
#solution-tab .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list {
  width: 100%;
}
#solution-tab .vc_tta.vc_tta-spacing-1 .vc_tta-tab {
  margin: 0 !important;
  width: 20% !important;
}
#solution-tab .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab > a {
  background-color: #f7faff !important;
  padding: 40px 10px;
}
#solution-tab .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab.vc_active > a {
  background-color: #ffffff !important;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#solution-tab .vc_tta.vc_general .vc_tta-icon {
  display: block;
  margin-bottom: 15px;
}
#solution-tab .vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child),
#solution-tab .vc_tta.vc_general .vc_tta-title-text:not(:empty) ~ * {
  margin-left: 0px;
}
#solution-tab .slidein_column .vc_column_container .mk-image.align-left {
  padding: 0;
  position: fixed;
  top: 30%;
  left: -9999px;
  width: 35vw;
  opacity: 0;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 1200px) {
  #solution-tab .slidein_column .vc_column_container .mk-image.align-left {
    top: 20%;
    width: 40vw;
  }
}
@media only screen and (min-width: 1500px) {
  #solution-tab .slidein_column .vc_column_container .mk-image.align-left {
    width: 45vw;
  }
}
#solution-tab .slidein_column .vc_col-xs-8 {
  border: 1px solid transparent;
}
#solution-tab .slidein_column .vc_col-xs-8 .vc_column-inner {
  padding: 10px 15px;
}
#solution-tab .slidein_current .vc_column_container .mk-image.align-left {
  left: 0;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  #solution-tab .slidein_current .vc_col-xs-8 {
    border: 1px solid #F1F1F1;
    background-color: #FAFAFA;
  }
}

/* Layout Rules */
.region-blue {
  background: #f7faff;
}
.region-blue .vc_col-sm-12 .mk-text-block p {
  color: #0F2144;
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  opacity: 1;
}
.region-blue .vc_col-sm-12 .mk-text-block p:last-child {
  margin-bottom: 45px;
}

.icon-block h2 {
  color: #0E2B55;
  font-family: Montserrat;
  font-size: 24px !important;
  font-style: normal;
  font-weight: bold !important;
  letter-spacing: 5px;
  line-height: 29px;
}

.cta-block {
  z-index: 2;
  text-align: center !important;
}
@media only screen and (min-width: 768px) {
  .cta-block {
    text-align: left !important;
  }
}
.cta-block h2 {
  margin-bottom: 5px;
}
.cta-block p {
  margin-bottom: 29px;
  color: #0E2B55;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  opacity: 1;
}
.cta-block p strong {
  color: inherit;
}
.cta-block .mk-button {
  border-radius: 3px;
  padding: 25px 35px;
  background-color: #009BE2 !important;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.cta-block-bg {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .cta-block-bg {
    margin-top: -150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .cta-block-bg {
    margin-top: -170px;
  }
}

@media only screen and (min-width: 768px) {
  .inset-block {
    margin-top: -150px;
  }
}
.inset-block p {
  color: #000;
  font-size: 18px;
  line-height: 43px;
}

.bar-buttons .mk-button--size-xx-large {
  border-radius: 0;
  padding: 38px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
}
@media only screen and (min-width: 420px) {
  .bar-buttons .mk-button--size-xx-large {
    white-space: nowrap;
  }
}

/*Mobile*/
@media only screen and (max-width: 765px) {
  #bg-mobile-hidden,
  #bg-mobile-hidden-none {
    background-image: none !important;
    min-height: initial !important;
  }

  .mobile-center {
    text-align: center !important;
  }
}
@media only screen and (max-width: 768px) {
  #where-we-work {
    display: none;
  }

  .mk-header-toolbar,
  .mk-toolbar-resposnive-icon {
    display: none !important;
  }

  .mk-header-toolbar .header-grid {
    display: none;
  }

  .header-logo {
    float: none;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .wpb-js-composer #solution-tab .vc_tta-color-grey.vc_tta-style-flat.vc_tta-tabs .vc_tta-panels {
    background-color: #f7faff !important;
  }

  .mk-header.sticky-style-fixed .header-logo.logo-has-sticky img {
    height: 85px !important;
    max-height: none !important;
  }

  .mk-header.sticky-style-fixed.a-sticky .header-logo.logo-has-sticky img {
    height: auto !important;
    max-height: 100% !important;
  }
}
.mk-responsive-nav {
  border-bottom: 0px !important;
}

.mk-responsive-nav > li {
  border-left: 4px solid #192028;
  border-bottom: none !important;
  padding: 10px;
}

.mk-responsive-nav li a {
  border-top: none !important;
  padding: 20px 25px !important;
}

.mk-responsive-nav li a:active {
  border-left: 5px solid #009be2;
}

.press {
  -webkit-box-shadow: 0px 15px 15px 5px #e8eaed;
  -moz-box-shadow: 0px 15px 15px 5px #e8eaed;
  box-shadow: 0px 15px 15px 5px #e8eaed;
}

.mk-toolbar-resposnive-icon {
  display: none;
}

.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-tabs-container,
.wpb-js-composer .vc_tta.vc_tta-tabs .vc_tta-tabs-container {
  display: block !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-body,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading {
  background: transparent !important;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body {
  padding: 0;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading {
  display: none;
}

#safe-tab .vc_tta-panel .vc_tta-panel-body .mk-text-block p {
  position: relative;
  margin: 0;
  padding: 36px 72px 36px 36px;
  color: #1A3B64;
  font-weight: bold;
  line-height: 25px;
  opacity: 1;
}

#safe-tab .vc_tta-panel .vc_tta-panel-body .mk-text-block p:after {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 36px;
  border-radius: 50%;
  content: " ";
  background: green;
  height: 25px;
  width: 25px;
  background-color: #7ED321;
  box-shadow: 0 0 10px 1px #7ED321;
}

#safe-tab .vc_tta-panel .vc_tta-panel-body .mk-text-block hr {
  margin: 0;
  border-color: #EAEAEA;
  border-width: 0 0 1px;
}

#theme-page select.hs-input {
  height: 40px;
  width: 92%;
  max-width: 500px;
}

#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .hs_email {
  display: inline-block;
}
#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .hs_email > label {
  display: none;
}
#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .hs_email input {
  width: 150px;
  border-radius: 0;
}
#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .hs_submit {
  display: inline-block;
  vertical-align: top;
}
#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .hs_submit .actions {
  padding: 0;
  margin: 0 0 0 -9px;
}
#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .hs_submit input {
  width: 60px;
  border: 1px solid #E1E1E1;
  border-radius: 0 3px 3px 0;
  padding: 21px 28px;
  background-color: #F5F5F5;
  color: #30476B;
  font-weight: bold;
  line-height: 4px;
}
#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f .inputs-list {
  max-width: 150px;
  padding: 5px 0 0 0;
}

/* Home page styles */
.home {
  /*
  #mk-page-id-23 .vc_parallax-inner {
    background-color: #5A8BB3;
    background-repeat: no-repeat;
    background-position: 50% 59%;
    background-size: initial !important;
    @media only screen and (min-width: 1440px) {
      background-size: cover !important;
      top: 0 !important;
      height: 125% !important;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: " ";
      background: linear-gradient(rgba(6, 157, 226, 0.1), rgba(6, 157, 226, 0.1) 50%, #F7FBFF 75%, #fff);
    }
  }
  */
}
@media only screen and (max-width: 479px) {
  .home #mk-page-id-23 .big-title {
    font-size: 32px !important;
    line-height: 1.3;
  }
  .home #mk-page-id-23 .vc_parallax-inner {
    top: auto !important;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 2200px) {
  .home #mk-page-id-23 .vc_parallax-inner {
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    top: auto !important;
    bottom: -20% !important;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 2200px) and (min-width: 1700px) {
  .home #mk-page-id-23 .vc_parallax-inner {
    bottom: -30% !important;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 2200px) and (min-width: 2000px) {
  .home #mk-page-id-23 .vc_parallax-inner {
    bottom: -40% !important;
  }
}

.home .cloud-row {
  z-index: 11;
}
.home .cloud-row .cloud {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.home .cloud-row .cloud_main {
  right: -530px;
}
.home .cloud-row .cloud_1 {
  left: 0px;
  width: 50%;
}
.home .cloud-row .cloud_2 {
  right: -625px;
}
.home .cloud-row .cloud_3 {
  left: -310px;
}
.home .cloud-row .cloud_4 {
  left: -680px;
}
.home .cloud-row .cloud_5 {
  width: 80%;
}
.home .cloud-row .cloud_6 {
  right: -320px;
  width: 70%;
}
.home .cloud-row .cloud_7 {
  left: -60px;
}
.home .cloud-row .cloud_8 {
  left: 20px;
}
.home .cloud_bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 -15px;
  background: linear-gradient(rgba(255, 255, 255, 0), #F7FAFF);
  content: " ";
  z-index: 25;
}
.home .cloud_bottom .wpb_content_element {
  margin-bottom: 0;
}
.home .block-text {
  padding-bottom: 40px;
}
.home .region-blue h2 {
  padding: 0 0.5em;
  color: #0E2B55;
}
@media only screen and (min-width: 768px) {
  .home .region-blue h2 {
    font-size: 48px !important;
    line-height: 68px;
  }
}
.home .region-blue + div {
  border-bottom: 2px solid #EBEBEB;
}
.home .responsive_carousel .vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner > .vc_item {
  text-align: center;
}
.home .responsive_carousel .vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner > .vc_item > .vc_inner {
  margin: 0 auto;
  max-width: 300px;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .home #bg-mobile-hidden {
    background-image: none !important;
    min-height: initial !important;
  }
}
@media only screen and (min-width: 1024px) {
  .home #bg-mobile-hidden {
    background-position: 20% 120px !important;
  }
}
.home .mk-box-icon-2 p {
  padding: 0 20px;
}
.home .wpb_images_carousel {
  padding-top: 25px;
}
.home .slick-wrapper h2 {
  display: none;
}
.home .slick-slider {
  background-color: transparent;
}
.home .slick-slider.wpls-logo-showcase button.slick-arrow {
  position: absolute !important;
  width: 22px !important;
  height: 22px !important;
  bottom: 65px !important;
  opacity: 0.2;
}
@media only screen and (max-width: 319px) {
  .home .slick-slider.wpls-logo-showcase button.slick-arrow {
    display: none;
  }
}

#front-btn,
.hbspt-form .hs-button.primary {
  font-weight: 600;
  font-size: 14px !important;
  letter-spacing: 0;
}

.hbspt-form .hs-button.primary,
.hbspt-form .hs-button.primary:hover:not(.inactive) {
  padding: 12px 24px;
  background-image: none;
  border: 2px solid #009BE2;
  border-radius: 3px;
  box-shadow: none;
  background-color: #009BE2;
  color: #fff;
  font-family: Lato;
  text-shadow: none;
}

.mk-box-icon-2 p {
  color: #333 !important;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  opacity: 1;
}
.mk-box-icon-2 p:last-child {
  margin-bottom: 30px;
}
.mk-box-icon-2 .mk-button-container a span {
  color: #0E2B55;
  font-family: Lato;
  font-size: 16.76px;
  font-weight: bold;
  line-height: 21px;
}

.vc_images_carousel .vc_item img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.error404 {
  background-color: #f7faff;
}
.error404 header {
  display: none;
}
.error404 .bg_404 img {
  width: 720px;
  max-width: 100%;
}
.error404 .mk-button {
  background-color: #009BE2;
}
.error404 p {
  opacity: 1;
}
.error404 p a {
  color: #009BE2;
}

.mk-employee-item .team-thumbnail,
.nivo-lightbox-overlay .team-thumbnail img {
  border-radius: 50%;
  border: 5px solid #009be2;
  max-width: 220px !important;
}

.mk-employee-item a[rel="lightbox"] span {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 17px;
  text-align: center;
  z-index: 5;
}

.mk-employees *:focus {
  outline-style: none;
  box-shadow: none;
}
.mk-employees > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mk-employees .mk-employee-item .team-thumbnail img {
  transition: filter .1s ease-out;
  outline: 0;
}
.mk-employees .mk-employee-item .team-thumbnail a {
  transition: display .1s ease-out;
  /*IE9*/
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;
  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: transparent;
}
.mk-employees .mk-employee-item .team-thumbnail a:active img {
  -webkit-tap-highlight-color: transparent;
}
.mk-employees .mk-employee-item .team-thumbnail a::selection {
  background-color: transparent;
}
.mk-employees .mk-employee-item .team-thumbnail a::-moz-selection {
  background-color: transparent;
}
.mk-employees .mk-employee-item:hover a[rel="lightbox"] span {
  display: block;
}
.mk-employees .mk-employee-item:hover a[rel="lightbox"] img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.mk-employees.classic .mk-employeee-networks {
  top: auto;
  bottom: 10%;
}
.mk-employees.classic .mk-employeee-networks a {
  box-shadow: 0 0 0 4px #fff inset !important;
  background-color: #009be2;
}
.mk-employees.classic .mk-employeee-networks a:hover {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) !important;
  background: transparent;
}

.mk-employees .mk-employee-item .team-info-wrapper .team-member-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.nivo-lightbox-theme-default .nivo-lightbox-inline {
  border-radius: 3px;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
  overflow: visible;
  background: #F7FAFF;
}
@media only screen and (min-width: 768px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline {
    background: url("/wp-content/themes/jupiter-child/images/circle_mask.svg") no-repeat 50% 0 transparent;
    background-size: 1400px;
  }
}
@media only screen and (max-width: 439px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline {
    padding: 20px;
  }
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-thumbnail {
  display: none;
  margin-top: -155px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline .team-thumbnail {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline .team-info-wrapper {
    padding-top: 40px;
  }
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-social-wrapper {
  padding: 20px 0 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .mk-employeee-networks {
  margin: 0;
  text-align: center;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .mk-employeee-networks a {
  display: inline-block;
  margin: 0;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  background-color: #FFFFFF;
  line-height: 1;
  vertical-align: middle;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .mk-employeee-networks svg {
  padding: 14px;
  width: 22px !important;
  height: 22px !important;
  fill: #0E2B55;
}
@media only screen and (min-width: 768px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline .item-modal {
    padding: 0 15%;
  }
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-name {
  margin-bottom: 10px;
  color: #0E254C;
  font-size: 24px;
  line-height: 26px;
  font-style: italic;
  font-weight: 900;
  text-transform: capitalize;
}
@media only screen and (min-width: 440px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-name {
    font-size: 36px;
    line-height: 44px;
  }
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-position {
  color: #0E2B55;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 21px;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-desc-wrapper {
  margin-top: 0;
  overflow: hidden;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-desc {
  max-height: 45vh;
  width: 99%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 28px;
  transition: padding .1s ease;
  text-align: left;
}
@media only screen and (min-width: 440px) {
  .nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-desc {
    max-height: 26vh;
    text-align: justify;
  }
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-desc:hover {
  padding-right: 8px;
}
.nivo-lightbox-theme-default .nivo-lightbox-inline .team-member-desc p {
  opacity: 0.47;
  font-size: 18px;
  line-height: 43px;
  color: #000;
}

@media only screen and (max-width: 960px) {
  .mk-employees.c_cs.u4col .team-thumbnail {
    float: none !important;
  }
}
.page-id-178 #where-we-work {
  padding-top: 60px;
  min-height: 50vh;
}
@media only screen and (max-width: 960px) {
  .page-id-178 #where-we-work {
    background-size: 1200px !important;
  }
}
@media only screen and (min-width: 2000px) {
  .page-id-178 #where-we-work {
    min-height: 60vh;
  }
}
@media only screen and (min-width: 769px) {
  .page-id-178 .where-we-work-addresses {
    display: none;
  }
}

.page-id-67 .image-bleed.bleed-right .vc_col-sm-6:last-child {
  padding-right: 0;
}
.page-id-67 .image-bleed.bleed-left {
  padding-left: 0 !important;
}
.page-id-67 .image-bleed.bleed-left .vc_col-sm-6:first-child {
  padding-left: 0;
}
.page-id-67 .vc_section.vc_section-has-fill + .vc_row-full-width + .vc_section {
  padding-top: 0 !important;
}
@media only screen and (max-width: 767px) {
  .page-id-67 .js-master-row > .vc_col-sm-6 {
    padding: 15px 15px 10px;
  }
  .page-id-67 .js-master-row > .vc_col-sm-6 h2 {
    margin: 0.8em 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-id-67 .team-level .flush_right {
    margin: 0 -30px 10px !important;
  }
}

.page-id-67 .vc_col-sm-6 .mk-button-container,
.page-id-261 .vc_col-sm-6 .mk-button-container {
  margin-bottom: 50px !important;
}
@media only screen and (min-width: 768px) {
  .page-id-67 .vc_col-sm-6 .mk-button-container,
  .page-id-261 .vc_col-sm-6 .mk-button-container {
    margin-bottom: 100px !important;
  }
}

@media only screen and (max-width: 767px) {
  .page-id-261 .bleed-right .flush_right {
    margin: 0 -30px 10px !important;
  }
}
/* Frameworks page */
.page-id-83 .mk-fullwidth-true.vc_row .vc_col-sm-12 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mk-header-toolbar .add-header-height {
  line-height: 55px;
}

/* The Platform page */
.page-id-261 .vc_col-sm-6 .mk-image-holder {
  max-width: 100% !important;
}

.video-block .wpb_content_element a {
  display: block;
  position: relative;
}
.video-block .wpb_content_element a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  content: " ";
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  z-index: 11;
}
.video-block .wpb_content_element a:after {
  background: linear-gradient(130.89deg, rgba(0, 155, 226, 0.3) 0%, rgba(13, 44, 84, 0.5) 100%);
}

/*Vertical Tabs*/
.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels {
  background-color: #ffffff !important;
}

#safe-tab li.vc_tta-tab.vc_active {
  background-color: #fff;
}

.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline .vc_tta-tab.vc_active > a {
  border-color: #EBEBEB !important;
}

.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline .vc_tta-tab > a {
  color: #0d2c54 !important;
  border-color: transparent !important;
}

.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline .vc_tta-tab > a:hover {
  background-color: #ffffff !important;
  border-color: #EBEBEB !important;
}

.wpb-js-composer #safe-tab .vc_tta.vc_general .vc_tta-tab > a {
  padding: 14px 200px 14px 20px !important;
}

@media only screen and (max-width: 900px) {
  .wpb-js-composer #safe-tab .vc_tta.vc_general .vc_tta-tab > a {
    padding-right: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
  #safe-tab .vc_tta-tabs {
    display: block;
  }
  #safe-tab .vc_tta-tabs-container {
    margin: 0;
    padding: 0 15px 35px;
  }
  #safe-tab .vc_tta-panels-container {
    padding: 0 15px;
  }

  .wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels {
    background: transparent !important;
  }
  .wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels .vc_tta-panel {
    background: #fff;
  }
}
.vc_row-fluid.events .vc_gitem-zone-a .vc_gitem-row-position-top {
  display: block;
  top: 25px;
}

.vc_gitem-zone-a.event .vc_gitem-zone-mini:after,
.events .vc_grid-item-mini:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .vc_gitem-zone-a.event .vc_gitem-zone-mini:after,
  .events .vc_grid-item-mini:after {
    height: 65%;
  }
}

.vc_gitem-zone-a.event .vc_gitem-row-position-middle {
  top: auto !important;
  bottom: 54%;
  transform: initial !important;
  -webkit-transform: initial !important;
}
.vc_gitem-zone-a.event .vc_gitem-row-position-middle .vc_col-sm-4 {
  margin-top: 0 !important;
}
.vc_gitem-zone-a.event .vc_gitem-row-position-middle h4,
.vc_gitem-zone-a.event .vc_gitem-row-position-middle .vc_gitem-post-data {
  margin: 0;
}
.vc_gitem-zone-a.event .vc_gitem-row-position-middle h4 {
  font-family: Lato;
  font-size: 23.01px;
  font-style: italic;
  font-weight: 900 !important;
  line-height: 28px;
  color: #fff !important;
}
.vc_gitem-zone-a.event .vc_gitem-row-position-middle h4 a:hover {
  opacity: 1;
  background: transparent;
}

.vc_gitem-zone .vc_gitem-row-position-top,
.vc_gitem-zone .vc_gitem-row-position-middle,
.vc_gitem-zone .vc_gitem-row-position-bottom {
  z-index: 5;
}

.vc_gitem-zone .vc_gitem-row-position-top {
  display: none;
}

.vc_btn3-container.vc_btn3-center {
  margin: 0 30px;
}

@media only screen and (max-width: 767px) {
  .events .vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item,
  .vc_basic_grid.events .vc_grid.vc_row .vc_grid-item.vc_visible-item,
  #library-resources .vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
    padding-bottom: 0;
  }
}
.vc_gitem-zone-a.event .date {
  margin-top: 0 !important;
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.vc_gitem-zone-a.event .start-date {
  padding-right: 0;
}

.vc_gitem-zone-a.event .end-date {
  padding-left: 3px;
}

@media only screen and (max-width: 360px) {
  .news-date {
    float: none;
    width: auto;
  }
}
@media only screen and (min-width: 360px) and (max-width: 499px) {
  .vc-gitem-zone-height-mode-auto:before {
    padding-top: 50%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .vc-gitem-zone-height-mode-auto:before {
    padding-top: 30%;
  }
}
@media only screen and (max-width: 767px) {
  .vc_gitem-post-data:after {
    content: " ";
    clear: both;
  }

  .events .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div,
  #library-resources .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div {
    min-height: auto;
  }

  .events .vc_grid-item-mini.vc_clearfix {
    box-shadow: none;
  }
}
@media only screen and (min-width: 768px) {
  .vc_basic_grid.events {
    padding: 0 25px;
  }

  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div,
  .events .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div,
  #library-resources .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div {
    min-height: 180px;
  }

  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1024px) {
  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
    -webkit-line-clamp: 4;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1024px) and (max-width: 1145px) {
  .page-id-224 .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
    -webkit-line-clamp: 3;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1145px) {
  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
    -webkit-line-clamp: 4;
  }
}
@media only screen and (max-width: 1023px) {
  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom {
    position: relative;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1139px) {
  .vc_basic_grid.events,
  .vc_row.events .vc_basic_grid,
  #library-resources .vc_basic_grid {
    padding: 0 25px;
  }
}
#library-resources .pl-grid-controls {
  margin-bottom: 35px;
}
@media only screen and (max-width: 1200px) {
  #library-resources .pl-grid-controls {
    padding: 0 15px;
  }
}
#library-resources .pl-grid-controls:before {
  margin-right: 20px;
  content: "Filter by: ";
}
#library-resources .pl-grid-controls .pl-drop_down {
  margin-bottom: 0;
  padding: 12px 24px;
  height: auto;
  color: #0F2144;
  font-family: Lato;
  font-size: 16px;
  line-height: 1;
}

.mk-grid .pl-gridlayout {
  min-width: 320px;
}
.mk-grid .pl-gridlayout .pl-col .vc_gitem-row-position-top {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 9;
}
.mk-grid .pl-gridlayout .pl-col .date {
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
.mk-grid .pl-gridlayout .pl-col .end-date {
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  .mk-grid .pl-gridlayout .pl-col {
    padding: 0;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .mk-grid .pl-gridlayout .pl-col {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .mk-grid .pl-gridlayout .pl-col {
    padding: 0 25px 5px 0;
  }
}
.mk-grid .pl-gridlayout .all-detail-cnt {
  position: relative;
  padding-top: 40%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .mk-grid .pl-gridlayout .all-detail-cnt {
    padding-top: 70%;
  }
}
@media only screen and (min-width: 900px) {
  .mk-grid .pl-gridlayout .all-detail-cnt {
    padding-top: 120%;
  }
}
@media only screen and (min-width: 1024px) {
  .mk-grid .pl-gridlayout .all-detail-cnt {
    padding-top: 100%;
  }
}
.mk-grid .pl-gridlayout .pl-detailcnt {
  padding: 0;
}
.mk-grid .pl-gridlayout .pl-detailcnt.resource-text {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  min-height: 180px;
  background: #fff;
  z-index: 5;
}
@media only screen and (min-width: 900px) {
  .mk-grid .pl-gridlayout .pl-detailcnt.resource-text {
    position: absolute;
  }
}
.mk-grid .pl-gridlayout .pl-detailcnt.resource-text .resource-link {
  padding: 1em 0 0;
  text-align: center;
}
.mk-grid .pl-gridlayout .pl-detailcnt.resource-text .mk-button {
  display: inline-block;
  border-radius: 3px;
  border-width: 2px;
  max-width: 100%;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 1;
  letter-spacing: 0;
  color: #fff;
  background-color: #009be2;
  width: auto;
  white-space: nowrap;
}
.mk-grid .pl-gridlayout .pl-detailcnt.resource-text .mk-button:hover {
  background-color: #3baee2;
}
.mk-grid .pl-gridlayout .pl-detailcnt #text-block-1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.mk-grid .pl-gridlayout .pl-detailcnt .news-date {
  position: absolute;
  right: 0;
  bottom: 0;
}
.mk-grid .pl-gridlayout .pl-itemcnt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mk-grid .pl-gridlayout .pl-thumbcnt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/wp-content/plugins/js_composer_theme/assets/vc/vc_gitem_image.png) no-repeat 50% 0 !important;
  background-size: cover !important;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .mk-grid .pl-gridlayout .pl-thumbcnt {
    height: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .mk-grid .pl-gridlayout .pl-thumbcnt {
    height: 55%;
  }
}
.mk-grid .pl-gridlayout .pl-thumbcnt img {
  max-width: none;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .mk-grid .pl-gridlayout .pl-thumbcnt img {
    width: auto;
    height: 100%;
  }
}
.mk-grid .pl-gridlayout .pl-thumbcnt:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  z-index: 1;
}
.mk-grid .pl-gridlayout .pl-title {
  position: absolute;
  bottom: 65%;
  padding: 0 30px;
  margin: 0;
  z-index: 5;
  text-transform: unset;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  font-weight: 900 !important;
  line-height: 28px;
  color: #fff !important;
}
.mk-grid .pl-gridlayout .pl-title a {
  color: #fff !important;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mk-grid .pl-gridlayout .pl-title {
    bottom: 54%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mk-grid .pl-gridlayout .pl-title {
    bottom: 58%;
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  .mk-grid .pl-gridlayout .pl-title {
    bottom: 62%;
  }
}
@media only screen and (min-width: 1100px) {
  .mk-grid .pl-gridlayout .pl-title {
    bottom: 60%;
  }
}
.mk-grid .pl-gridlayout .pl-text {
  margin: 0;
  opacity: 0.75;
  color: #000;
  font-family: 'Lato';
  font-size: 11.5px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.mk-grid .pl-gridlayout .pl-text a {
  color: #000;
}
.mk-grid .pl-gridlayout .resource-text .pl-text {
  -webkit-line-clamp: 4;
}
.mk-grid .pl-gridlayout .type-library-resource .pl-text {
  -webkit-line-clamp: 3;
}

.vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-acf {
  display: none;
}

.page-id-58 .mk-box-icon-2-image {
  height: 60px;
}
