//Company Page styles

.mk-employee-item .team-thumbnail,
.nivo-lightbox-overlay .team-thumbnail img {
  border-radius: 50%;
  border: 5px solid #009be2;
  max-width: 220px !important;
}


.mk-employee-item a[rel="lightbox"] span {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 17px;
  text-align: center;
  z-index: 5;
}


@mixin remove_blue {
  /*IE9*/
  &::selection {
    background-color:transparent;
  }
  &::-moz-selection {
    background-color:transparent;
  }
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;

  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.mk-employees {
  *:focus {
    outline-style:none;
    box-shadow:none;
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // For blur effect
  .mk-employee-item {
    .team-thumbnail {
      img {
        transition: filter .1s ease-out;
        outline: 0;
      }
      a {
        transition: display .1s ease-out;
        &:active img {
          -webkit-tap-highlight-color: transparent;
        }
        @include remove_blue;
      }
    }

    &:hover a[rel="lightbox"] {
      span {
        display: block;
      }
      img {
        -webkit-filter: blur(5px);
        //filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='blur5'><feGaussianBlur in='SourceGraphic' stdDeviation='5' /></filter></svg>#blur5");
        filter:blur(5px);
      }
    }
  }
}

.mk-employees.classic .mk-employeee-networks {
  top: auto;
  bottom: 10%;
  a {
    box-shadow: 0 0 0 4px #fff inset !important;
    background-color:#009be2;
  }
  a:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6) !important;
    background: transparent;
  }
}

.mk-employees .mk-employee-item .team-info-wrapper .team-member-name {
  font-weight: bold; font-size: 18px; line-height: 20px;
}

// Lightbox Overlay

.nivo-lightbox-theme-default {

  .nivo-lightbox-inline {
    border-radius: 3px;
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,0.35);
    text-align: center;
    overflow: visible;
    background: #F7FAFF;
    @media only screen and (min-width: 768px) {
      background: url("/wp-content/themes/jupiter-child/images/circle_mask.svg") no-repeat 50% 0 transparent;
      background-size: 1400px;
    }

    @media only screen and (max-width: 439px) {
      padding: 20px;
    }
    .team-thumbnail {
      display: none;
      margin-top: -155px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        display: block;
      }
    }

    @media only screen and (min-width: 768px) {
      .team-info-wrapper {
        padding-top: 40px;
      }
    }

    .team-social-wrapper {
      padding: 20px 0 0;
    }

    .mk-employeee-networks {
      margin: 0;
      text-align: center;
      a {
        display: inline-block;
        margin: 0;
        border: 1px solid #EAEAEA;
        border-radius: 3px;
        background-color: #FFFFFF;
        line-height: 1;
        vertical-align: middle;
      }
      svg {
        padding: 14px;
        width: 22px !important;
        height: 22px !important;
        fill: #0E2B55;
      }
    }

    @media only screen and (min-width: 768px) {
      .item-modal {
        padding: 0 15%;
      }
    }

    .team-member-name {
      margin-bottom: 10px;
    	color: #0E254C;
      font-size: 24px;
      line-height: 26px;
      font-style: italic;
      font-weight: 900;
      text-transform: capitalize;
      @media only screen and (min-width: 440px) {
        font-size: 36px;
        line-height: 44px;
      }
    }

    .team-member-position {
      color: #0E2B55;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 21px;
    }

    .team-desc-wrapper {
      margin-top: 0;
      overflow: hidden;
    }

    .team-member-desc {
      max-height: 45vh;
      width: 99%;
      height: 100%;
      overflow-y: scroll;
      padding-right: 28px;
      transition: padding .1s ease;
      text-align: left;
      @media only screen and (min-width: 440px) {
        max-height: 26vh;
        text-align: justify;
      }
      &:hover {
        padding-right: 8px;
      }
      p {
        opacity: 0.47;
        font-size: 18px;
        line-height: 43px;
        color: #000;
      }
    }
  } // .nivo-lightbox-inline
} // .nivo-lightbox-theme-default

@media only screen and (max-width: 960px) {
	.mk-employees.c_cs.u4col .team-thumbnail {
		float: none !important;
	}
}

.page-id-178 {
   #where-we-work {
    padding-top: 60px;
    min-height: 50vh;
    @media only screen and (max-width: 960px) {
      background-size: 1200px !important;
    }
    @media only screen and (min-width: 2000px) {
      min-height: 60vh;
    }
  }
  @media only screen and (min-width: 769px){
    .where-we-work-addresses {
      display: none;
    }
  }
}
