// The Agilecraft Difference page

.page-id-67 {
  .image-bleed {
    &.bleed-right .vc_col-sm-6:last-child {
      padding-right: 0;
    }
    &.bleed-left {
      padding-left: 0 !important;
      .vc_col-sm-6:first-child {
        padding-left: 0;
      }
    }
  }

  .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section {
    padding-top: 0 !important;
  }

  .js-master-row > .vc_col-sm-6 {
    @media only screen and (max-width: 767px) {
      padding: 15px 15px 10px;
      h2 {
        margin: 0.8em 0;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .team-level .flush_right {
      margin: 0 -30px 10px !important;
    }
  }
}

// The Platform page

.page-id-67,
.page-id-261 {
  .vc_col-sm-6 .mk-button-container {
    margin-bottom: 50px !important;
    @media only screen and (min-width: 768px) {
      margin-bottom: 100px !important;
    }
  }
}
@media only screen and (max-width: 767px) {
  .page-id-261 .bleed-right .flush_right {
    margin: 0 -30px 10px !important;
  }
}
