
/* Frameworks page */

.page-id-83 .mk-fullwidth-true.vc_row .vc_col-sm-12 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mk-header-toolbar .add-header-height {
  line-height: 55px;
}

/* The Platform page */

.page-id-261 .vc_col-sm-6 .mk-image-holder {
  max-width: 100% !important;
}
