
@mixin grid_grad {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  z-index: 1;
}



// Events Page

.vc_row-fluid.events .vc_gitem-zone-a .vc_gitem-row-position-top {
  display: block;
  top: 25px;
}

// Grid Page styles

.vc_gitem-zone-a.event .vc_gitem-zone-mini:after,
.events .vc_grid-item-mini:after {
  @include grid_grad;
  @media only screen and (min-width: 768px) {
    height: 65%;
  }
}

.vc_gitem-zone-a.event .vc_gitem-row-position-middle {
  top: auto !important;
  bottom: 54%;
  transform: initial !important;
  -webkit-transform: initial !important;
  .vc_col-sm-4 {
    margin-top: 0 !important;
  }
  h4,
  .vc_gitem-post-data {
    margin: 0;
  }
  h4 {
    font-family: Lato;
    font-size: 23.01px;
    font-style: italic;
    font-weight: 900 !important;
    line-height: 28px;
    color: #fff !important;
    a:hover {
      opacity: 1;
      background: transparent;
    }
  }
}
.vc_gitem-zone .vc_gitem-row-position-top,
.vc_gitem-zone .vc_gitem-row-position-middle,
.vc_gitem-zone .vc_gitem-row-position-bottom {
  z-index: 5;
}

.vc_gitem-zone .vc_gitem-row-position-top {
  display: none;
}

.vc_btn3-container.vc_btn3-center {
  margin: 0 30px;
}

@media only screen and (max-width: 767px) {
  .events .vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item,
  .vc_basic_grid.events .vc_grid.vc_row .vc_grid-item.vc_visible-item,
  #library-resources .vc_basic_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item {
    padding-bottom: 0;
  }
}

.vc_gitem-zone-a.event .date {
  margin-top: 0 !important;
  padding: 5px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}

.vc_gitem-zone-a.event .start-date {
  padding-right: 0;
}

.vc_gitem-zone-a.event .end-date {
  padding-left: 3px;
}

@media only screen and (max-width: 360px) {
  .news-date {
    float: none;
    width: auto;
  }
}

@media only screen and (min-width: 360px) and (max-width: 499px) {
  .vc-gitem-zone-height-mode-auto:before {
    padding-top: 50%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .vc-gitem-zone-height-mode-auto:before {
    padding-top: 30%;
  }
}

@media only screen and (max-width: 767px) {
  .vc_gitem-post-data:after {
    content: " ";
    clear: both;
  }
  .events .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div,
  #library-resources .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div {
    min-height: auto;
  }

  .events .vc_grid-item-mini.vc_clearfix {
    box-shadow: none;
  }
}

@media only screen and (min-width: 768px) {

  .vc_basic_grid.events {
    padding: 0 25px;
  }

  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div,
  .events .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div,
  #library-resources .vc_gitem-zone-a.event .vc_gitem-row-position-bottom > div {
    min-height: 180px;
  }

  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    @media only screen and (min-width: 1024px) {
      -webkit-line-clamp: 4;
    }
  }

  // News page

  @media only screen and (min-width: 1024px) and (max-width: 1145px) {
    .page-id-224 .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
      -webkit-line-clamp: 3;
    }
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1145px) {

  // Events page
  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-post-data {
    -webkit-line-clamp: 4;
  }
}

@media only screen and (max-width: 1023px) {
  .vc_gitem-zone-a.event .vc_gitem-row-position-bottom {
    position: relative;
  }
}

@media only screen and (min-width: 768px)  and (max-width: 1139px) {
  .vc_basic_grid.events,
  .vc_row.events .vc_basic_grid,
  #library-resources .vc_basic_grid {
    padding: 0 25px;
  }
}


// PW Grid styles

#library-resources .pl-grid-controls {
  margin-bottom: 35px;
  @media only screen and (max-width: 1200px) {
    padding: 0 15px;
  }
  &:before {
    margin-right: 20px;
    content: "Filter by: ";
  }
  .pl-drop_down {
    margin-bottom: 0;
    padding: 12px 24px;
    height: auto;
  	color: #0F2144;
    font-family: Lato;
    font-size: 16px;
    line-height: 1;
  }
}

.mk-grid .pl-gridlayout {
  min-width: 320px;
  .pl-col {
    .vc_gitem-row-position-top {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      z-index: 9;
    }
    .date {
      padding: 5px;
      display: inline-block;
      white-space: nowrap;
      text-align: center;
    }
    .end-date {
      padding-left: 0;
    }
    @media only screen and (max-width: 767px) {
      padding: 0;
      margin-bottom: 0;
    }
    @media only screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
    @media only screen and (min-width: 1200px) {
      padding: 0 25px 5px 0;
    }
  }

  .all-detail-cnt {
    position: relative;
    padding-top: 40%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    @media only screen and (min-width: 768px) {
      padding-top: 70%;
    }
    @media only screen and (min-width: 900px) {
      padding-top: 120%;
    }
    @media only screen and (min-width: 1024px) {
      padding-top: 100%;
    }
  }

  .pl-detailcnt {
    padding: 0;
    // .pl-text
    &.resource-text {
      position: relative;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px;
      min-height: 180px;
      background: #fff;
      z-index: 5;
      @media only screen and (min-width: 900px) {
        position: absolute;
      }
      .resource-link {
        padding: 1em 0 0;
        text-align: center;
      }
      .mk-button {
        display: inline-block;
        border-radius: 3px;
        border-width: 2px;
        max-width: 100%;
        padding: 14px 24px;
        font-weight: 600;
        font-size: 14px !important;
        line-height: 1;
        letter-spacing: 0;
        color: #fff;
        background-color: #009be2;
        width: auto;
        white-space: nowrap;
        &:hover {
          background-color: #3baee2;
        }
      }
    }
    #text-block-1 {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .news-date {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .pl-itemcnt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .pl-thumbcnt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/wp-content/plugins/js_composer_theme/assets/vc/vc_gitem_image.png) no-repeat 50% 0 !important;
    background-size: cover !important;
    z-index: 1;
    @media only screen and (min-width: 768px) {
      height: 50%;
    }
    @media only screen and (min-width: 1024px) {
      height: 55%;
    }
    img {
      max-width: none;
      width: 100%;
      @media only screen and (min-width: 768px) {
        width: auto;
        height: 100%;
      }
    }
    &:after {
      @include grid_grad;
    }
  }

  .pl-title {
    position: absolute;
    bottom: 65%;
    padding: 0 30px;
    margin: 0;
    z-index: 5;
    text-transform: unset;
    font-family: Lato;
    font-size: 24px;
    font-style: italic;
    font-weight: 900 !important;
    line-height: 28px;
    color: #fff !important;
    a {
      color: #fff !important;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      bottom: 54%;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      bottom: 58%;
      font-size: 18px;
      line-height: 24px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1099px) {
      bottom: 62%;
    }
    @media only screen and (min-width: 1100px) {
      bottom: 60%;
    }
  }

  .pl-text {
    margin: 0;
    opacity: 0.75;
    color: #000;
    font-family: 'Lato';
    font-size: 11.5px;
    line-height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    a {
      color: #000;
    }
  }
  .resource-text .pl-text {
    -webkit-line-clamp: 4;
  }
  .type-library-resource .pl-text {
    -webkit-line-clamp: 3;
  }
}

.vc_gitem-zone-a.event .vc_gitem-row-position-bottom .vc_gitem-acf {
  display: none;
}
