/* Home page styles */


// Home parallax

.home {
  /*
  #mk-page-id-23 .vc_parallax-inner {
    background-color: #5A8BB3;
    background-repeat: no-repeat;
    background-position: 50% 59%;
    background-size: initial !important;
    @media only screen and (min-width: 1440px) {
      background-size: cover !important;
      top: 0 !important;
      height: 125% !important;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: " ";
      background: linear-gradient(rgba(6, 157, 226, 0.1), rgba(6, 157, 226, 0.1) 50%, #F7FBFF 75%, #fff);
    }
  }
  */

  @media only screen and (max-width: 479px) {
    #mk-page-id-23 {
      .big-title {
        font-size: 32px !important;
        line-height: 1.3;
      }
      .vc_parallax-inner {
        top: auto !important;
        bottom: 0px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 100%;
      }
    }
  }

  @media only screen and (min-width: 1140px) and (max-width: 2200px) {
    #mk-page-id-23 .vc_parallax-inner {
      background-size: contain;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      top: auto !important;
      bottom: -20% !important;
      @media only screen and (min-width: 1700px) {
        bottom: -30% !important;
      }
      @media only screen and (min-width: 2000px) {
        bottom: -40% !important;
      }
    }
  }

  .cloud-row {
    z-index: 11;

    .cloud {
      position: absolute;
      z-index: 2;
      width: 100%;
    }

    .cloud_main {
      right: -530px;
    }

    .cloud_1 {
      left: 0px;
      width: 50%;
    }

    .cloud_2 {
      right: -625px;
    }

    .cloud_3 {
      left: -310px;
    }

    .cloud_4 {
      left: -680px;
    }

    .cloud_5 {
      width: 80%;
    }

    .cloud_6 {
      right: -320px;
      width: 70%;
    }

    .cloud_7 {
      left: -60px;
    }

    .cloud_8 {
      left: 20px;
    }

  }

  .cloud_bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 -15px;
    background: linear-gradient(rgba(255, 255, 255, 0), #F7FAFF);
    content: " ";
    z-index: 25;
    .wpb_content_element {
      margin-bottom: 0;
    }
  }

  .block-text {
    padding-bottom: 40px;
  }

  .region-blue {
    h2 {
      padding: 0 0.5em;
      color: #0E2B55;
      @media only screen and (min-width: 768px) {
        font-size: 48px !important; // To override theme-options
        line-height: 68px;
      }
    }
    + div {
      border-bottom: 2px solid #EBEBEB;
    }
  }

  .responsive_carousel .vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner>.vc_item {
    text-align: center;
    >.vc_inner {
      margin: 0 auto;
      max-width: 300px;
      height: 100%;
    }
  }

  @media only screen and (max-width: 1024px){
  	#bg-mobile-hidden{
      background-image: none !important;
  		min-height: initial !important;
  	}
  }

  @media only screen and (min-width: 1024px) {
    #bg-mobile-hidden {
      background-position: 20% 120px !important;
    }
  }

  .mk-box-icon-2 p {
    padding: 0 20px;
  }


  .wpb_images_carousel {
    padding-top: 25px;
  }

  .slick-wrapper h2 {
    display: none;
  }

  .slick-slider {
    background-color: transparent;
    &.wpls-logo-showcase button.slick-arrow {
      @media only screen and (max-width: 319px){
        display: none;
      }
      position: absolute !important;
      width: 22px!important;
      height: 22px!important;
      bottom: 65px!important;
      opacity: 0.2;
    }
  }

} //.home

#front-btn,
.hbspt-form .hs-button.primary {
  font-weight: 600;
  font-size: 14px !important;
  letter-spacing: 0;
}

.hbspt-form .hs-button.primary,
.hbspt-form .hs-button.primary:hover:not(.inactive) {
  padding: 12px 24px;
  background-image: none;
  border: 2px solid #009BE2;
  border-radius: 3px;
  box-shadow: none;
  background-color: #009BE2;
  color: #fff;
  font-family: Lato;
  text-shadow: none;
}

// Icon Blocks

.mk-box-icon-2 {
  p {
    color: #333 !important; // To override theme-options
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    opacity: 1;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  .mk-button-container a span {
    color: #0E2B55;
    font-family: Lato;
    font-size: 16.76px;
    font-weight: bold;
    line-height: 21px;
  }

}

.vc_images_carousel .vc_item img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// 404 page

.error404 {
  background-color: #f7faff;

  header {
    display: none;
  }

  .bg_404 img {
    width: 720px;
    max-width: 100%;
  }

  .mk-button {
    background-color: #009BE2;
  }
  p {
    opacity: 1;
    a {
      color: #009BE2;
    }
  }
}
