// Built for SAFe styles

.video-block .wpb_content_element a {
  display: block;
  position: relative;
  &:before {
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    content: " ";
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.75);
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    z-index: 11;
  }
  &:after {
    background: linear-gradient(130.89deg, rgba(0,155,226,0.3) 0%, rgba(13,44,84,0.5) 100%);
  }
}

/*Vertical Tabs*/

.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels{background-color:#ffffff !important;}
#safe-tab li.vc_tta-tab.vc_active {background-color: #fff;}
.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline .vc_tta-tab.vc_active>a{border-color: #EBEBEB!important;}
.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline .vc_tta-tab>a{color:#0d2c54!important;border-color:transparent!important;}
.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline .vc_tta-tab>a:hover{background-color:#ffffff!important; border-color: #EBEBEB!important;}
.wpb-js-composer #safe-tab .vc_tta.vc_general .vc_tta-tab>a{padding: 14px 200px 14px 20px !important;}


@media only screen and (max-width: 900px) {
  .wpb-js-composer #safe-tab .vc_tta.vc_general .vc_tta-tab > a {
    padding-right: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
		#safe-tab {
		.vc_tta-tabs {
			display: block;
		}
		.vc_tta-tabs-container {
			margin: 0;
			padding: 0 15px 35px;
		}
		.vc_tta-panels-container {
			padding: 0 15px;
		}
	}

	.wpb-js-composer #safe-tab .vc_tta-color-grey.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels {
		background: transparent !important; // VC styles
		.vc_tta-panel {
			background: #fff;
		}
	}
}
