/*General*/

/*Newsroom*/
#page-top-title {
  letter-spacing: 4px;
  font-weight: 400 !important;
}

.vc_gitem-post-data {
  margin-bottom: 0;
}

.events .vc_gitem_row .vc_gitem-col {
  padding: 0;
}

.vc_gitem-post-data-source-post_excerpt p {
  opacity: 0.75;
}

.vc_gitem-align-center {
  padding: 15px 0;
}

.read-more,
.news-date {
  background: #fff;
}

.read-more p, .read-more a,
.reach-out p {
  opacity: 1;
}

.read-more a {
  text-decoration: underline;
}

.feature-block p {
	font-size: 20px !important;
  font-weight: bold;
  line-height: 40px !important;
}

.feature-block .mk-text-block {
  padding-top: 5px;
}


.vc_gitem-post-data-source-post_title {
  padding: 0 30px;
}

/*Company*/
#team #box-5 ul{text-align:center !important;}
#team #box-5.three-column ul li.a_colitem{float: none !important; width: 32.33%;}

/*Test*/
.safe-testimonial .mk-testimonial.avantgarde-style .mk-testimonial-image{position: absolute; top: -110px; left: 35vw;}
.safe-testimonial .mk-testimonial.avantgarde-style .mk-testimonial-image img{border: 5px solid #fff;}

/*
  Testimonial Styles
*/

.wpb_single_image .vc_box_border_circle.vc_box_border_white {
  position: relative;
  z-index: 1;
}

.testimonial-item {
  text-align: center;
  .mk-testimonial-content > p {
    font-size: 20px !important; // To override theme-options
    font-style: normal !important; // To override theme-options
    font-weight: bold;
    line-height: 36px !important; // To override theme-options
    color: #fff;
    opacity: 1;
    @media only screen and (min-width: 480px) {
      font-size:24px !important; // To override theme-options
      line-height:42px !important; // To override theme-options
    }
  }

  .mk-testimonial-author,
  .mk-testimonial-company {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 17px;
    color: rgba(255,255,255,0.48);
  }
}

.mk-testimonial.avantgarde-style .mk-testimonial-company {
  font-style: normal; // Overrides component-styles
}

/*Footer*/

#mk-footer .widget {
  margin-bottom: 20px;
  br {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #mk-footer .widget_text:last-child {
    max-width: 250px;
  }
}

#mk-footer .widget-sub-navigation ul li a,
#mk-footer .widget_nav_menu ul li a{font-weight: bold; line-height: 22px;}
