
.mk-col-1-3 input[name="email"] {
  padding: 14px 22px;
	color: #B0B0B0;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  margin: 0;
}

.mk-col-1-3 input[type="submit"] {
	border: 1px solid #E1E1E1;
  border-radius: 0 3px 3px 0;
  padding: 21px 28px;
  background-color: #F5F5F5;
  color: #30476B;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

#bg-mobile-hidden-none {
  padding-top: 50px;
  background-position: 50% 100px !important;
  @media only screen and (min-width: 768px) {
    padding-bottom: 450px;
    .mk-button-container {
      text-align: left;
    }
  }
  @media only screen and (min-width: 1440px) {
    background-size: cover !important;
  }

  h2 {
    font-weight: 900;
  }
}



@media only screen and (max-width: 479px) {
  #mk-footer .mk-col-1-3,
  #mk-footer .mk-col-1-3 .align-left {
    text-align: center;
  }
}
#mk-footer .mk-col-2-3 .widgettitle {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 17px;
}
@media only screen and (min-width: 1024px) {
  #mk-footer .mk-col-2-3 .widgettitle {
    font-family: Montserrat;
    font-weight: bold;
  }
}
#mk-footer .mk-col-2-3 .widget {
  margin-bottom: 0;
}
#mk-footer .mk-col-2-3 {
  display: flex;
}
@media only screen and (max-width: 480px) {
  #mk-footer .mk-col-2-3 {
    flex-wrap: wrap;
  }
}
#mk-footer .mk-col-2-3 > div {
  flex-grow: 1;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #mk-footer .mk-col-2-3 > div {
    width: 49% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #mk-footer #social-2 {
    white-space: nowrap;
  }
}
#mk-footer .footer-text {
  margin: 0;
  color: #AFAFAF;
  font-size: 14px;
  line-height: 24px;
  opacity: 1;
}

#sub-footer {
  display: none;
}
