#theme-page select.hs-input {
  height: 40px;
  width: 92%;
  max-width: 500px;
}

#hsForm_a73f92dd-acbc-4dba-abeb-7d1d7cc0389f {

  .hs_email {
    display: inline-block;
    > label {
      display: none;
    }
    input {
      width: 150px;
      border-radius: 0;
    }
  }

  .hs_submit {
    display: inline-block;
    vertical-align: top;
    .actions {
      padding: 0;
      margin: 0 0 0 -9px;
    }
    input {
      width: 60px;
      border: 1px solid #E1E1E1;
      border-radius: 0 3px 3px 0;
      padding: 21px 28px;
      background-color: #F5F5F5;
      color: #30476B;
      font-weight: bold;
      line-height: 4px;
    }
  }
  .inputs-list {
    max-width: 150px;
    padding: 5px 0 0 0;
  }
}
