/* Global Header Styles */

.mk-header{position:absolute !important;}
.mk-css-icon-close div, .mk-css-icon-menu div{background-color: #ffffff !important;}
#mk-footer .widget_nav_menu li a .mk-svg-icon{display:none;}
#mk-footer .widget_nav_menu ul li a{padding: 5px 15px 5px 0px !important;}
.widget_nav_menu ul li.current_page_item a{background-color:transparent !important;}

.mk-header-toolbar{
  margin: 0 0 30px;
  .mk-toolbar-holder {
    float:right;
  }
  .main-nav-side-search {
    margin: -8px 0 0 0 !important;
  }
}

.mk-testimonial.avantgarde-style.light-version .flex-direction-nav {
  @media handheld, only screen and (min-width: 420px) and (max-width: 768px) {
    .flex-prev {
      left: 25% !important;
    }
    .flex-next {
      right: 25% !important;
    }
  }

  a {
    opacity: 0.2;
  }

  svg{
    height: 22px !important;
  }

}

.our-story {
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 30px 50px 3px rgba(232,234,237,0.75);
  -moz-box-shadow: 0px 30px 50px 3px rgba(232,234,237,0.75);
  box-shadow: 0px 30px 50px 3px rgba(232,234,237,0.75);

}

.mk-toolbar-navigation ul li a {
  border-right: 1px solid white !important;
}


/* Main Nav styles */

.main-navigation-ul>li.menu-item>a.menu-item-link {
  padding-top: 0;
}

.main-navigation-ul>li.menu-item ul.sub-menu:after {
  display: none;
}

.main-navigation-ul li.no-mega-menu ul.sub-menu {
  padding: 0;
}

.main-navigation-ul>li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link {
  border-left: 4px solid transparent;
  padding: 25px 35px 25px 29px;
}

/* Sticky Header */

header.a-sticky .mk-header-holder {
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.sticky-style-fixed.header-style-1.a-sticky .mk-header-holder, .sticky-style-fixed.header-style-3.a-sticky .mk-header-holder {
  top: 0; // Overrides core-styles
}

header.a-sticky .mk-header-toolbar{
  display: none;
}


header.a-sticky .main-navigation-ul > li.menu-item > a.menu-item-link {
  color: #1A3B64 !important;
}

header.a-sticky #menu-main-menu > li:last-child a.menu-item-link {
  color: #ffffff !important;
}

#menu-main-menu > li:last-child:hover,
header.a-sticky #menu-main-menu li.dropdownOpen > a,
header.a-sticky #menu-main-menu > li:last-child a.menu-item-link:hover,
header.a-sticky .main-navigation-ul > li.menu-item > a.menu-item-link:hover {
  color: #fff;
  background-color: #192028;
}


#menu-main-menu li.dropdownOpen > a:after {
  display: block;
  position: absolute;
  border-color: #192028 transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  content: " ";
  width: 0;
  margin-left:-10px;
  left:50%;
  bottom: 0;
}

.mk-header-inner .main-nav-side-search {
  display: none;
}

/*Sub-Menu*/
.main-navigation-ul > li.no-mega-menu ul.sub-menu li.menu-item a:hover,
.main-navigation-ul ul.sub-menu li.current-menu-item a,
.mk-responsive-nav li a:hover,
.mk-responsive-nav > li.current-menu-item a {
  border-left: 4px solid #009be2;
}

#menu-main-menu > li:last-child {
  border-radius: 3px;
  background-color: #009BE2;
}

.mk-header.a-sticky #menu-main-menu > li:last-child {
  border-radius: 0;
}
