
/* Hero block styles */

// Home

.home .master-holder-bg-holder + .mk-main-wrapper-holder {
  background-color: #60bde7;
}

// Solutions, Resources, Demo, Careers

.page-id-484,
.page-id-83,
.page-id-249,
.page-id-144,
.page-id-149,
.page-id-588,
.page-id-224,
.page-id-720,
.page-id-58,
.page-id-261,
.page-id-67 {
  .master-holder-bg-holder + .mk-main-wrapper-holder {
    background-color: #0d2c54;
  }
}

.page-id-261 .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section,
.page-id-67 .vc_section.vc_section-has-fill {
  padding-top: 0;
}

// Hero wrapper
.vc_section.vc_row-o-full-height,
.hero-wrapper {
  padding: 112px 0 !important; // To override theme-options
  //background-color: #0d2c54 !important;
  @media only screen and (min-width: 480px) {
    padding: 126px 0 !important; // To override theme-options
  }
  @media only screen and (min-width: 768px) {
    padding: 240px 0 170px !important
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    @media only screen and (max-width: 479px) {
      font-size: 34px !important; // To override theme-options
      line-height: 34px;
    }
    @media only screen and (max-width: 768px) {
      max-width: 640px;
    }
  }
  h1,h2,h3 {
    a:hover {
      opacity: 1;
      cursor: text;
    }
  }
  .mk-button {
    white-space: nowrap;
    &:hover {
      background-color: #3baee2;
    }
  }

  .intro,
  .intro-mid {
    color: #FFFFFF;
    text-shadow: 0 2px 20px rgba(0,0,0,0.5);
  }
}


@media only screen and (min-width: 768px) {
  // Company page
  .page-id-178 .hero-wrapper {
    padding: 320px 0 260px !important;
  }
}

.hero-wrapper .wpb_column {
  position: static;
  margin: 0 auto;
  max-width: 1140px;
  float: none;
}

.hero-wrapper h2,
.hero-wrapper h3,
.intro-short {
  text-align: left;
  max-width: 768px;
}

.intro-short p {
	font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.hero-text {
  z-index: 5;
}

// Solutions page hero

#mk-page-id-484 .mk-text-block {
  margin: 0 auto;
  max-width: 820px;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  @media only screen and (max-width: 479px) {
    max-width: 270px;
    font-size: 16px;
    line-height: 20px;
  }
  @media only screen and (max-width: 768px) {
    max-width: 490px;
    font-size: 22px;
    line-height: 34px;
  }
} // .mk-text-block


.blue-overlay,
.grey-overlay {
  > .vc_row {
    position: relative;
    z-index: 2;
  }
}

.overlay-blue,
.blue-overlay,
.grey-overlay,
.page-id-720 .hero-wrapper {
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto !important; // To override theme-options
    content: " " !important; // To override theme-options
    background: linear-gradient(130.89deg, rgba(0,155,226,0.64) 0%, rgba(13,44,84,0.7) 100%);
    visibility: visible !important; // To override theme-options
    z-index: 0;
  }
}

.full-layout > div > .grey-overlay:after {
  background: linear-gradient(135deg, rgba(14,43,85,0.44) 0%, rgba(14,42,84,0.85) 100%);
}
