/*
Theme Name:     Jupiter Child Theme
Theme URI: 		http://demos.artbees.net/jupiter5
Description:    Child theme for the Jupiter theme
Author:         Your name here
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Text Domain: mk_framework
Domain Path: /languages/
*/

.sticky-style-fixed.header-style-1 .mk-header-holder,
.sticky-style-fixed.header-style-3 .mk-header-holder {
  -webkit-transform: none; /* Safari and Chrome */
  -moz-transform: none; /* Firefox */
  -ms-transform: none; /* IE 9 */
  -o-transform: none; /* Opera */
  transform: none;
}

.mk-responsive-wrap {
  overflow: auto;
  position: fixed;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 9999;
}

.mk-responsive-nav > li:last-child {
  display: none;
}

.mk-responsive-nav > li a {
  color: #9a9a9a !important;
  text-transform: none;
}

.mk-responsive-nav > li a:hover {
  color: #fff !important;
}

.mk-responsive-wrap #mk-nav-close {
  top: 20px;
  position: absolute;
  right: 27px;
  cursor: pointer;
}

.mk-responsive-wrap #mk-nav-close .mk-css-icon-menu-line-1 {
  transition: all 0.45s ease;
}

.mk-responsive-wrap .mk-responsive-content {
  padding: 70px 0;
  overflow: hidden;
}

.mk-responsive-content .mk-cta {
  text-align: center;
  padding: 0 0 15px 0;
}

.mk-responsive-content .mk-button {
  background: #009be2;
  border-radius: 3px;
  margin: 0 auto;
  min-width: 220px;
}

.mk-responsive-content .mk-button span.mk-button--text {
  font-size: 14px;
}

.mk-responsive-content {
  .responsive-searchform {
    margin: 10px 0;
    padding: 0;
    i {
      right: 25px;
      svg {
        fill: #9e9e9e !important;
      }
      &:hover svg {
        fill: #fff !important;
      }
    }
    input {
      padding: 10px 35px;
      border-left: none;
      border-right: none;
      border-color: #9e9e9e;
    }
  }
  .mk-nav-arrow {
    top: 12px;
    @media only screen and (max-width: 1140px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-height: 5em;
      width: 100%;
      z-index: 11;
      svg {
        float: right;
        margin-top: 25px;
        margin-right: 25px;
      }
    }
  }
}

// Icon Block styles

.mk-box-icon-2.box-align-center .mk-box-icon-2-icon,
.mk-box-icon-2.box-align-center .mk-box-icon-2-image {
  margin-bottom: 22px;
}

.mk-box-icon-2 .mk-box-icon-2-title {
  margin-bottom: 22px;
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper {
  text-align: left;
  p {
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
  }
}

@media only screen and (max-width: 1140px) {
  .main-nav-side-search {
    display: none;
  }
  #mk-theme-container .mk-toolbar-navigation ul li:last-child>a {
    border-right: 0 !important;
  }
}
