/* Layout Rules */


.region-blue {
	background: #f7faff;
	.vc_col-sm-12 .mk-text-block p {
		color: #0F2144;
		font-family: "Helvetica Neue";
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		opacity: 1;
		&:last-child {
			margin-bottom: 45px;
		}
	}
}

.icon-block h2 {
	color: #0E2B55;
	font-family: Montserrat;
	font-size: 24px !important; // To override element style
	font-style: normal;
	font-weight: bold !important; // To override element style
	letter-spacing: 5px;
	line-height: 29px;
}

.cta-block {
	z-index: 2;
	text-align: center !important; // To override element style
	@media only screen and (min-width: 768px){
		text-align: left !important; // To override element style
	}
	h2 {
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 29px;
		color: #0E2B55;
		font-size: 18px;
		font-weight: bold;
		line-height: 34px;
		opacity: 1;
		strong {
			color: inherit;
		}
	}
	.mk-button {
		border-radius: 3px;
		padding: 25px 35px;
		background-color: #009BE2 !important; // To override element style

		color: #FFFFFF;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
	}
}

.cta-block-bg {
	position: relative;
	z-index: 1;
	@media only screen and (max-width: 767px) {
		margin-top: -150px;
	}
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		margin-top: -170px;
	}
}
.inset-block {
	@media only screen and (min-width: 768px) {
		margin-top: -150px;
	}
	p {
		color: #000;
		font-size: 18px;
		line-height: 43px;
	}
}

.bar-buttons .mk-button--size-xx-large {
	border-radius: 0;
	padding: 38px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
	text-align: center;
	@media only screen and (min-width: 420px) {
		white-space: nowrap;
	}

}

/*Mobile*/

@media only screen and (max-width: 765px){
  // 765px to accomodate VC styles.
  #bg-mobile-hidden,
  #bg-mobile-hidden-none{
    background-image: none !important;
    min-height: initial !important;
  }
  .mobile-center{
    text-align: center !important;
  }
}

@media only screen and (max-width: 768px){
	#where-we-work{
		display: none;
	}

	.mk-header-toolbar,
  .mk-toolbar-resposnive-icon{
    display: none !important;
  }

  .mk-header-toolbar .header-grid {
    display: none;
  }

  .header-logo {
    float: none;
    margin-top: 20px;
  }

}

@media (min-width: 768px) {
  .wpb-js-composer #solution-tab .vc_tta-color-grey.vc_tta-style-flat.vc_tta-tabs .vc_tta-panels {
    background-color: #f7faff !important;
  }

  .mk-header.sticky-style-fixed .header-logo.logo-has-sticky img {
    height: 85px !important;
    max-height: none !important;
  }

  .mk-header.sticky-style-fixed.a-sticky .header-logo.logo-has-sticky img {
    height: auto !important;
    max-height: 100% !important;
  }
}

.mk-responsive-nav{border-bottom: 0px !important;}

.mk-responsive-nav > li {
  border-left: 4px solid #192028;
  border-bottom: none !important;
  padding: 10px;
}

.mk-responsive-nav li a{border-top: none !important;padding: 20px 25px !important;}

.mk-responsive-nav li a:active{border-left:5px solid #009be2;}

.press{-webkit-box-shadow: 0px 15px 15px 5px rgba(232,234,237,1); -moz-box-shadow: 0px 15px 15px 5px rgba(232,234,237,1); box-shadow: 0px 15px 15px 5px rgba(232,234,237,1);}

.mk-toolbar-resposnive-icon {
  display: none;
}

// Overriding VC Styles

.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-tabs-container,
.wpb-js-composer .vc_tta.vc_tta-tabs .vc_tta-tabs-container {
  display: block !important;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-body,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading {
  background: transparent !important;
}


.wpb-js-composer .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body {
  padding: 0;
}

.wpb-js-composer .vc_tta-color-grey.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading {
  display: none;
}

#safe-tab .vc_tta-panel .vc_tta-panel-body .mk-text-block p {
  position: relative;
  margin: 0;
  padding: 36px 72px 36px 36px;
	color: #1A3B64;
  font-weight: bold;
  line-height: 25px;
  opacity: 1;
}

#safe-tab .vc_tta-panel .vc_tta-panel-body .mk-text-block p:after {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 36px;
  border-radius: 50%;
  content: " ";
  background: green;
  height: 25px;
  width: 25px;
  background-color: #7ED321;
  box-shadow: 0 0 10px 1px #7ED321;
}

#safe-tab .vc_tta-panel .vc_tta-panel-body .mk-text-block hr {
  margin: 0;
  border-color: #EAEAEA;
  border-width: 0 0 1px;
}
