.responsive-searchform {
  position: relative;
  > i {
    position: absolute;
    float: right;
    top: 5px;
  }
  .search-result-item {
    margin-top: 0;
    .the-title {
      font-size: 16px;
    }
    .search-loop-meta {
      font-size: 13px;
      color: #fff;
    }
    .the-excerpt {
      p {
        font-size: 12px;
        color: #fff;
      }
    }
  }
  .mk-pagination-inner,
  .mk-total-pages {
    display: none;
  }
  .mk-search-results-container {
    max-height: 25vh;
  }
}
.mk-search-results-container {
  padding: 0 1em;
  max-height: 60vh;
  overflow-y: hidden;
  &:not(.empty) {
    &:hover {
      overflow-y: scroll;
    }
  }
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar
  {
    width: 12px;
    background-color: #000;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(11, 12, 13, 0.91);
  }
  .mk-no-results {
    color: #fff;
    margin-top: 1em;
  }
  .the-title {
    a {
      color: #fff;
    }
  }
  .search-loop-meta {
    a {
      color: #009be2;
      color: rgba(41, 205, 255, 1);
    }
  }
  .mk-search-type {
  	color: rgba(255,255,255,0.6);
    font-family: Lato;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    text-transform: uppercase;
  }
  .mk-pagination {
    .mk-total-pages,
    .current-page {
      opacity: 1;
      color: #fff;
    }
    a {
      color: #009be2;
      color: rgba(41, 205, 255, 1);
    }
  }
  .mk-pagination-previous,
  .mk-pagination-next {
    color: #fff;
    border-color: #fff;
    &:hover {
      color: #009be2;
      border-color: #009be2;
    }
  }
}

.mk-fullscreen-search-wrapper .mk-search-results-container {
  padding: 0;
}

.mk-fullscreen-search-wrapper .search-result-item {
  border-width: 0;
  padding: 0;
  h4 {
    margin-bottom: 12px;
  }
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show {
  background-color: rgba(0,0,0,0.85);
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform + p {
  margin-bottom: 0;
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
  border-bottom: 3px solid #fff;
  margin-bottom: 15px;
  padding-left: 0;
  width: 100%;
  text-align: left;
  font-size: 86px;
  font-weight: 900;
}
