

// Solutions page styles


#solution-tab {
  //position: static;
  @media only screen and (min-width: 480px) {
    .vc_tta.vc_tta-shape-square .vc_tta-tabs-container {
      border-bottom: 1px solid #ccc;
      background-color: #f7faff;
    }
  }

  .vc_tta-tabs-container.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @media only screen and (min-width: 1140px) {
      top: 65px;
    }
  }

  .vc_tta.vc_general {

    @media only screen and (max-width: 479px) {
      .vc_tta-tab {
        border-bottom: 1px solid #ccc;
        &.vc_active {
          border-color: transparent;
          > a:before,
          > a:after {
            display: none;
          }
        }
        > a {
          padding: 10px;
        }
      }
    }
    @media only screen and (min-width: 480px) {
      .vc_tta-tab.vc_active > a {
        border-bottom: 5px solid #009be2;
        color: #009be2;
      }
    }

    /*
    @media only screen and (min-width: 768px) {
      .vc_tta-panels-container {
        position: static;
      }
    }
    */

    .vc_tta-panels {
      background-image: url(/wp-content/themes/jupiter-child/images/desk_illustration.svg);
      background-size: 1280px;
      background-position-x: center;
      background-position-y: -10px;
      background-repeat: no-repeat;
      @media only screen and (min-width: 768px) {
        position: static;
        padding-top: 220px;
        &:before {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: 100px;
          width: 310px;
          height: 295px;
          content: '';
          background-image: url(/wp-content/themes/jupiter-child/images/desk_illustration_paper.svg);
          z-index: 1;
          @media only screen and (min-width: 1440px) {
            margin-top: -100px;
            width: 420px;
            height: 405px;
          }
        }
      }
      @media only screen and (min-width: 1280px) {
        background-size: 1440px;
      }
      @media only screen and (min-width: 1440px) {
        background-size: 1800px;
      }
    } // .vc_tta-panels

    .vc_tta-title-text {
      font-size: 10px;
      line-height: 12px;
      font-weight: bold;
      white-space: nowrap;
      @media only screen and (max-width: 360px) {
        font-size: 8px;
      }
      @media only screen and (min-width: 640px) {
        font-size: 16px;
        line-height: 18px;
      }
      @media only screen and (min-width: 769px) {
        font-size: 22px;
        line-height: 29px;
      }
    }
    .vc_tta-panel-heading {
      display: none;
    }
    .vc_tta-panel-body {
      background-color: #fff !important;
      margin-top: -1px;
      border: solid #ccc;
      border-width: 1px 0;
      padding: 50px 0;
      @media only screen and (max-width: 479px) {
        max-width: 100%;
      }
      @media only screen and (min-width: 768px) {
        max-width: 990px;
        margin: 0 auto;
        padding: 100px 0;
        overflow: visible;
        transform: none;
      }
      @media only screen and (min-width: 980px) {
        max-width: 900px;
        border: 1px solid #ccc;
      }
    }
  }

  //.vc_tta.vc_general

  .vc_inner {
    @media only screen and (min-width: 768px) {
      padding: 0 20px;
    }
    @media only screen and (max-width: 767px) {
      .wpb_column:first-child {
        display: none;
      }
      .wpb_column:last-child {
        width: 100%;
      }
    }
  }

  // Main Column
  .wpb_column:last-child {
    h2 {
    	color: #1485E0 !important;
      font-size: 24px !important;
      font-style: normal;
      font-weight: bold !important;
      line-height: 32px;
    }
    h3, h4, h5 {
      color: #1485E0 !important;
      font-family: Montserrat;
      font-size: 14px !important;
      font-weight: bold !important;
      letter-spacing: 2px;
      line-height: 17px;
      text-transform: uppercase;
    }

    h4 {
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: 1px solid #1485E0;
    }
    h5 span {
      color: #1485E0 !important;
    }
    p {
      color: #707070;
      font-family: "Helvetica Neue";
      font-size: 16px;
      line-height: 32px;
      opacity: 1;
    }
  }
  .tilt-image {
    transform: rotate(-15deg);
  }

  img.tab-image {
    display: block;
    margin: 0 auto 10px;
    height: 48px;
    width: max-content;
  }

  // Tab mask BGs

  .tab-bg {
    display: block;
    margin: 0 auto 10px;
    height: 50px;
    width:  50px;
    background: #666;
  }

  .tab-enterprise {
    -webkit-mask: url('/wp-content/uploads/2017/06/enterprise.svg') no-repeat 50% 100%;
    mask: url('/wp-content/uploads/2017/06/enterprise.svg') no-repeat 50% 100%;
  }

  .tab-portfolio {
    -webkit-mask: url('/wp-content/uploads/2017/06/portfolio.svg') no-repeat 50% 100%;
    mask: url('/wp-content/uploads/2017/06/portfolio.svg') no-repeat 50% 100%;
  }

  .tab-solution {
    -webkit-mask: url('/wp-content/uploads/2017/06/solution.svg') no-repeat 50% 100%;
    mask: url('/wp-content/uploads/2017/06/solution.svg') no-repeat 50% 100%;
  }

  .tab-program {
    -webkit-mask: url('/wp-content/uploads/2017/06/program.svg') no-repeat 50% 100%;
    mask: url('/wp-content/uploads/2017/06/program.svg') no-repeat 50% 100%;
  }

  .tab-team {
    -webkit-mask: url('/wp-content/uploads/2017/06/team.svg') no-repeat 50% 100%;
    mask: url('/wp-content/uploads/2017/06/team.svg') no-repeat 50% 100%;
  }

  .vc_tta-tab.vc_active .tab-bg {
    background: #009be2;
  }

  /*Horizontal tabs*/
  .vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list {
    width: 100%;
  }

  .vc_tta.vc_tta-spacing-1 .vc_tta-tab {
    margin: 0 !important;
    width: 20% !important;
  }

  .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab>a{
    background-color: #f7faff !important;padding: 40px 10px;
  }

  .vc_tta-color-grey.vc_tta-style-flat .vc_tta-tab.vc_active>a{
    background-color: #ffffff !important; border-left: 1px solid #ccc; border-right: 1px solid #ccc;
  }

  .vc_tta.vc_general .vc_tta-icon{
    display: block; margin-bottom: 15px;
  }
  .vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child),
  .vc_tta.vc_general .vc_tta-title-text:not(:empty)~*{
    margin-left: 0px;
  }

  .slidein_column {
    .vc_column_container .mk-image.align-left {
      padding: 0;
      position: fixed;
      top: 30%;
      //margin-top: -25%;
      left: -9999px;
      width: 35vw;
      opacity: 0;
      transition: all 0.5s ease;
      @media only screen and (min-width: 1200px) {
        top: 20%;
        width: 40vw;
      }
      @media only screen and (min-width: 1500px) {
        width: 45vw;
      }
    }
    .vc_col-xs-8 {
      border: 1px solid transparent;
      .vc_column-inner {
        padding: 10px 15px;
      }
    }
  }

  .slidein_current .vc_column_container .mk-image.align-left {
    left: 0;
    opacity: 1;
  }

  @media only screen and (min-width: 768px) {
    .slidein_current .vc_col-xs-8 {
      border: 1px solid #F1F1F1;
      background-color: #FAFAFA;
    }
  }

} // #solution-tab
