/* Global Typography Styles */

h1, .big-title{
  color: #fff;
  font-family: Lato;
  font-size: 64px !important; // To override theme-options
  font-style: italic;
  font-weight: 900 !important; // To override theme-options
  line-height: 68px;
  text-align: center;
  text-shadow: 0 10px 25px rgba(0,0,0,0.3);
  @media only screen and (max-width: 768px) {
    font-size: 54px;
    line-height: 58px;
  }
  a {
    color: #fff;
  }
}
h2 {
  color: #0E254C;
  font-family: Lato;
  font-size: 36px !important; // To override theme-options
  font-style: italic;
  font-weight: 900 !important; // To override theme-options
  line-height: 44px;
}


h3 {
  color: #0E2B55;
  font-family: Montserrat;
  font-size: 16.76px !important; // To override theme-options
  font-weight: bold !important; // To override theme-options
  letter-spacing: 3px;
  line-height: 20px;
}

h4, .block-text h4 {
  margin-bottom: 15px;
	color: #333 !important; // To override theme-options
  font-family: Lato;
  font-size: 24px;
  font-weight: normal !important; // To override theme-options
  line-height: 29px;
}

p {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.54;
  color: #000;
}

.intro,
.intro-mid {
  margin-bottom: 30px;
  font-weight: bold;
	font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  opacity: 1;
  color: #1A3B64;
  @media only screen and (min-width: 480px) {
    font-size: 24px;
    line-height: 34px;
  }
}


.block-text p {
  color: #333 !important; // To override theme-options
  font-size: 14px;
  line-height: 30px;
  opacity: 1;
}

.vc_col-sm-6 .mk-text-block {
  padding-bottom: 25px;
  p {
  	color: #000;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.54;
  }
  &.darker-p p {
    color: #0F2144;
    opacity: 1;
  }
}

.vc_col-sm-9 .mk-text-block p {
	color: #000;
  font-size: 18px;
  line-height: 36px;
}

span.mk-button--text{
  font-size: 18px;
  line-height: 22px;
}

.mk-button {
  border-radius: 3px;
  border-width: 2px;
  &:hover span.mk-button--text {
    color: #fff;
  }
}
