.mk-swipe-slideshow .products .item {
    float: none !important;
    position: absolute !important;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
}

.mk-woocommerce-carousel .the-title, .mk-woocommerce-carousel .product-title {
    white-space: normal;
}

.mk-woocommerce-carousel .mk-button-container {
    margin-right: 0 !important;
}

@media handheld, only screen and (max-width: 767px) {
    .mk-swipe-slideshow .mk-product-loop .products .mk--col--3-12, .mk-swipe-slideshow .mk-product-loop .products .mk--col--4-12 {
        width: 50% !important;
    }
}

@media handheld, only screen and (max-width: 600px) {
    .mk-swipe-slideshow .mk-product-loop .products .mk--col--3-12, .mk-swipe-slideshow .mk-product-loop .products .mk--col--4-12, .mk-swipe-slideshow .mk-product-loop .products .mk--col--1-2 {
        width: 100% !important;
        max-width: none !important;
    }
}


/* "Please don't ask me why baby" ~ Maki tune from "Monkeys do programmin" album */

.mk-woocommerce-carousel .mk-button {
    white-space: nowrap;
}

.vc_col-sm-6 .mk-woocommerce-carousel .mk-button--icon, .vc_col-sm-5 .mk-woocommerce-carousel .mk-button--icon, .vc_col-sm-4 .mk-woocommerce-carousel .mk-button--icon, .vc_col-sm-3 .mk-woocommerce-carousel .mk-button--icon, .vc_col-sm-2 .mk-woocommerce-carousel .mk-button--icon, .vc_col-sm-1 .mk-woocommerce-carousel .mk-button--icon {
    display: none;
}

.vc_col-sm-6 .mk-woocommerce-carousel .mk-button .mk-button--text, 
.vc_col-sm-5 .mk-woocommerce-carousel .mk-button .mk-button--text, 
.vc_col-sm-4 .mk-woocommerce-carousel .mk-button .mk-button--text, 
.vc_col-sm-3 .mk-woocommerce-carousel .mk-button .mk-button--text, 
.vc_col-sm-2 .mk-woocommerce-carousel .mk-button .mk-button--text, 
.vc_col-sm-1 .mk-woocommerce-carousel .mk-button .mk-button--text {
    -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
        transform: translateX(0);
}

.mk-woocommerce-carousel .mk-swiper-wrapper {
    white-space: nowrap;
}

.mk-woocommerce-carousel .swiper-slide {
    float: none;
    display: inline-block;
}

.mk-woocommerce-carousel.classic-style .products {
    display: block;
    margin: auto;
    padding: 0 0 30px 0 !important;
}

.mk-woocommerce-carousel.classic-style .products .product {
    margin: 0;
    float: left;
}

.mk-woocommerce-carousel.classic-style .mk-fancy-title {
    font-size: 14px !important;
    font-weight: bold !important;
    margin-right: 35px;
}

.mk-woocommerce-carousel.classic-style .mk-fancy-title span {
    padding-right: 5px;
}

.mk-woocommerce-carousel.classic-style .mk-woo-view-all {
    float: right;
    font-size: 11px;
    padding: 0 7px;
}

.mk-woocommerce-carousel.classic-style .flex-direction-nav a {
    position: absolute;
    top: -38px;
}

.mk-woocommerce-carousel.classic-style .flex-direction-nav a svg{
    fill: #aaaaaa;
}

.mk-woocommerce-carousel.classic-style .flex-prev {
    right: 20px;
}

.mk-woocommerce-carousel.classic-style .flex-next {
    right: 0px;
}

.mk-woocommerce-carousel.modern-style {
    text-align: center;
}

.mk-woocommerce-carousel.modern-style .item-holder, .mk-woocommerce-carousel.modern-style .item-holder .mk-lightbox {
    padding: 0 20px;
    width: 100%;
}

.mk-woocommerce-carousel.modern-style .item-holder {
    padding-bottom: 20px;
}

.mk-woocommerce-carousel.modern-style .mk-lightbox {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    left: -20px;
}

.mk-woocommerce-carousel.modern-style .mk-lightbox i {
    position: absolute;
    font-size: 32px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    color: #222222;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.mk-woocommerce-carousel.modern-style .mk-lightbox:hover .image-hover-overlay {
    opacity: 0.7;
}

.mk-woocommerce-carousel.modern-style .mk-lightbox:hover i {
    opacity: 1;
}

.mk-woocommerce-carousel.modern-style .image-hover-overlay {
    background-color: #ffffff !important;
}

.mk-woocommerce-carousel.modern-style .the-title {
    font-size: 14px !important;
}

.mk-woocommerce-carousel.modern-style .price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.mk-woocommerce-carousel.modern-style .price ins {
    border: none;
} 

.mk-woocommerce-carousel.modern-style .mk-swipe-slideshow:hover .swiper-arrows {
    opacity: 0.8;
}

.mk-woocommerce-carousel.modern-style .swiper-arrows {
    top: 25% !important;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #222222;
    opacity: 1;
    color: #222222;
}

.mk-woocommerce-carousel.modern-style .swiper-arrows svg {
    vertical-align: middle;
}

.mk-woocommerce-carousel.modern-style .swiper-arrows:hover {
    background-color: #222222;
    opacity: 1 !important;
    color: #ffffff !important;
}

.mk-woocommerce-carousel.modern-style .mk-swiper-prev {
    left: 0px;
}

.mk-woocommerce-carousel.modern-style .mk-swiper-next {
    right: 0px;
}

.mk-woocommerce-carousel.modern-style .mk-button {
    font-size: 12px !important;
    margin: 0 auto !important;
}