/* ============================================================================
   BURGER MENU
   ========================================================================= */
.hb-burger-menu-el {
	display: block;
	width: auto;
}
.hb-burger-menu-el__container {
	display: inline-block;
    cursor: pointer;
    width: 30px;
    margin: 0 20px;
    position: relative;
	transition: height 0.25s ease, line-height 0.25s ease;
	-webkit-transition: height 0.25s ease, line-height 0.25s ease;
	-moz-transition: height 0.25s ease, line-height 0.25s ease;
	-ms-transition: height 0.25s ease, line-height 0.25s ease;
	-o-transition: height 0.25s ease, line-height 0.25s ease;
}

.hb-burger-menu-el__box {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hb-burger-menu-el__bar {
    border-radius: 4px;
    display: block;
    position: relative;
    transition: all 0.2s ease;
}